[2016-04-27 10:10] creynders opened #1 "`_git_remote_check:5: = not found`"
Hi there, I really like this minimal theme. There's just a small annoyance, whenever I `cd` to a directory with a git repo, it outputs:

[code]

[2016-04-27 10:21] frm commented on #1
Hey @creynders ! I can't seem to reproduce the issue so I can fix it.

Does it happen on every git repo? Does it happen when the remote isn't set or anything like that?

[2016-04-27 10:35] creynders commented on #1
Yes, it happens on every git repo and remote has been set.

[code]

Weird...

[2016-04-27 10:43] creynders commented on #1
I found the problem, apparently my system doesn't like it if you surround the `=`-signs with spaces.

I.e. L76 throws:

[code]

But this won't

[code]

[2016-04-27 10:45] frm commented on #1
@creynders I was able to reproduce it in an Ubuntu machine. zsh was assuming '==' as "path to =" and outputting not found. I'll be pushing a fix in a moment.

[2016-04-27 10:46] creynders commented on #1
👌

[2016-04-27 10:49] #1 closed

[2016-04-27 10:50] frm commented on #1
Ok, seems to be it! On my end it seems fine now. Can you confirm this?

[2016-04-27 11:49] creynders commented on #1
Confirmed! Thanks!

[2016-05-05 08:58] plul opened #2 "Bug: "geometry_prompt:1: command not found: add-zsh-hook""
I get the following error when trying to use geometry:

[code]

Any way to fix that?

[2016-05-05 09:03] frm commented on #2
Hi @plul ! I just pushed a fix for this. Can you confirm if it now works for you?

[2016-05-05 11:32] plul commented on #2
Yes it works now! Thank you!

[2016-05-05 11:32] #2 closed

[2016-05-19 16:36] terry182 opened #3 "Tab completion problem"
I am having a problem using this theme when I try to tab complete

so it's like
`
 ▲ .oh-my-zsh/custom/themes ls`
and after tab completion it becomes
`
 ▲ .oh-my-zsh/custom/themesls`

I tried to modify the theme but failed. Really can't figure out where the problem is

[2016-05-19 16:53] frm commented on #3
What OS and terminal emulator are you running, so I can try to reproduce the issue?

[2016-05-19 16:55] terry182 commented on #3
@frmendes  I am using OSX El Capitan 10.11.5 (15F34). The emulator is the terminal.app (?

[2016-05-19 20:35] frm commented on #3
@terry182 I can't seem to reproduce it. I have the same OS version and tried on Terminal.app. It works on both Terminal and iTerm2 on my end. Can you try and disable other plugins you have (preferably one at a time) to see if there's some side effect created by the theme?

[2016-05-19 21:30] terry182 commented on #3
@frmendes I didn't use any plugin as I just clean install my Macbook. But I notice that I am just using it as a theme, will that be the problem?

I just download the `geometry.zsh` and put it in `~/.oh-my-zsh/custom/themes` and rename it.

FYI, I reproduce the result by pressing `l`, `s`, `Tab` in my end. Maybe this could help

[2016-05-20 12:05] terry182 commented on #3
I found the problem happens to be the international setting `Unicode East Asian Ambiguous characters are wide` of terminal.

I guess this issue can be closed.

[2016-05-23 09:19] IanCStewart opened #4 "branch parse error"
I seem ti be getting a parse error when im changing from branch or fetch. This ends up to not showing the branch name in the promt anymore.

_git_branch:4: parse error: condition expected: 1
__gitcomp_nl:compset:5: can only be called from completion function
__gitcomp_nl:compadd:6: can only be called from completion function

![msbzj](https://cloud.githubusercontent.com/assets/14125280/15466061/f5

[2016-05-23 10:03] frm commented on #4
Does the branch have an upstream set?

Also, can you tell me the output of `git rev-parse --short HEAD` and `git symbolic-ref HEAD` when the branch isn't showing?

[2016-05-23 12:11] IanCStewart commented on #4
Upstream is set. In the pictures you can see what the outputs are

![screen shot 2016-05-23 at 14 06 04](https://cloud.githubusercontent.com/assets/14125280/15470264/e98cb4be-20ef-11e6-8070-a8a58099339b.png)
![screen shot 2016-05-23 at 14 06 15](https://cloud.githubusercontent.com/assets/14125280/15470265/e9932cb8-20ef-11e6-9a67-1bb510ca99f7.png)

[2016-06-07 21:40] jmcphers commented on #4
I get this constantly, too.

![image](https://cloud.githubusercontent.com/assets/470418/15875606/ab535386-2cbd-11e6-9530-7690e76ab697.png)

![image](https://cloud.githubusercontent.com/assets/470418/15875620/bc0f37e4-2cbd-11e6-8302-fa690b0aa71d.png)

[2016-06-09 13:25] frm commented on #4
Sorry for taking so long to answer. I can't seem to reproduce this.

@IanCStewart @jmcphers does any of you have zsh completion installed or enabled?

If so, can you try adding `autoload -U compinit && compinit` to your `.zshrc` and see if it works?

[2016-06-09 13:33] frm commented on #4
Also, is it possible to get the output of `_git_branch` in the project directory?

[2016-06-13 06:53] IanCStewart commented on #4
_git_branch gives me the following. I have also put `compinit` in my `.zshrc`.
![screen shot 2016-06-13 at 08 51 41](https://cloud.githubusercontent.com/assets/14125280/15999193/28c5e5ce-3144-11e6-9fc5-57ebb0120c12.png)

[2016-06-14 09:42] frm commented on #4
@IanCStewart do you have any kind of extra completion enabled or installed? Mainly, for git.

[2016-06-14 15:26] IanCStewart commented on #4
@frmendes not that im aware of. i just use the basic auto correct that works all over

[2016-06-14 15:53] frm commented on #4
@IanCStewart I'm really off on this one. Can't seem to find much info or reproduce the issue... It's probably some external configuration messing with it. What's the zsh version you are using?

[2016-06-17 14:27] IanCStewart commented on #4
@frmendes zsh version 5.0.8

[2016-07-15 15:36] frm commented on #4
I was **finally** able to reproduce the issue. I just pushed a version that should fix this.

Sorry for taking me so long. Can you confirm everything is good on your end? @IanCStewart @jmcphers

[2016-07-15 17:29] frm commented on #4
Nevermind that, the problem persists.

[2016-07-17 00:42] wwselleck commented on #4
I'm getting a ton of errors that I think are coming from you using `'` instead of `"`. Might wanna look into that.

[2016-07-19 23:25] frm commented on #4
This should be fixed by #5 . I've been using @jedahan 's version for the day and seems to be all good. Can you confirm this, @IanCStewart ?

[2016-07-21 14:52] IanCStewart commented on #4
@frmendes seems to work fine now! 👌

[2016-07-21 14:54] frm commented on #4
Cool! Fixed by #5 , thanks to @jedahan

[2016-07-21 14:54] #4 closed

[2016-07-21 15:19] jedahan opened #6 "Async support for git info"
It seems like there is a big delay getting the git information, especially for large repositories. There are some small optimizations we can do with `git log -1` everywhere but maybe looking at pure and other prompts that use async we can get a pty to render the git portion.

[2016-07-21 15:22] frm commented on #6
That was on my roadmap, but I haven't been able to devote much time.

Using `git log -1` could be a temporary fix but I'm not too keen on using that since sooner or later the issue will reappear.

Maybe using async is the most reasonable option. What do you think?

[2016-07-21 15:28] jedahan commented on #6
Yeah I think looking at https://github.com/zsh-users/zsh-autosuggestions/pull/180 as inspiration might help.

I wanna see what the minimal lines of code to making a single function async is. It seems a bit more complicated than it needs to be right now.

[2016-07-25 09:23] IanCStewart commented on #3
@frmendes it seems that tab completion adds a character to the sentence
![screen shot 2016-07-25 at 11 20 36](https://cloud.githubusercontent.com/assets/14125280/17096496/f517979a-5259-11e6-85fd-55b1af1436b1.png)
if you type anything and then `tab` it changes from for example `git` to `ggit`
_this is just visual, the commands still get send without the extra_

[2016-07-25 09:26] frm commented on #3
Does this happen by just typing `<command> <tab>`? What encoding are you using?

[2016-07-25 12:57] IanCStewart commented on #3
it happens automatic when u type `<command> <tab>` & when you type `<half command> <tab>` and this half command has lots of possibilities. but not when you type `<half command> <tab>` and there  is only one possibility. my encoding must be on the default don't know where to find this.

[2016-07-25 13:48] frm commented on #3
What terminal emulator and OS are you using?

[2016-07-26 07:43] IanCStewart commented on #3
iTerm and osx El Capitan

[2016-07-26 09:28] frm commented on #3
You can check your encoding in `Preferences` > `Profiles` and then select the active profile (should probably the one with a ⭐️). Encoding is in the `Terminal` tab. Can you check it there, please?

[2016-08-08 14:48] IanCStewart commented on #3
@frmendes my encoding is on unicode (UTF-8)

[2016-08-16 01:26] andreabedini commented on #3
I am experiencing the same issue as @IanCStewart :-/

[2016-08-16 01:45] andreabedini commented on #3
I can reproduce this reliably on iTerm 3.0.5 when I open a new shell. Here is a sequence of screen shots where I type 'l' and keep pressing TAB (note that there's no available `ll` command). Disabling the theme returns to the correct behaviour.

![screen shot 2016-08-16 at 9 42 12 am](https://cloud.githubusercontent.com/assets/69135/17685386/feda4b9a-6395-11e6-8f79-a7b9d09907eb.png)
![screen shot

[2016-08-16 02:56] andreabedini commented on #3
Update, this only happens if I set `export GEOMETRY_SYMBOL_PROMPT="♦︎"`

[2016-08-31 08:56] acidjazz opened #11 "config option to render the prompt on one line (feature)"
Is there any particular reason the prompt always adds an extra line? I was wondering if we could add an option to remove that, I found if I changed

[code]

to

[code]

and i get a single line

![image](https://cloud.githubusercontent.com/assets/967369/18122453/7acb1980-6f1e-11e6-951d-f7235c3bd599.png)

unless you think this would break anything I'm happy to submit a PR w/ this as a feature/optoin

[2016-08-31 09:11] frm commented on #11
When I first made this I was just hacking away at another theme. I only open sourced it later, so even though I refactored out most of the code, there are still some bits that are there purely because of aesthetic preference.

If you can refactor that into a config variable like the rest of the theme it would be great! And if you find other options that you think you would prefer to customize, fee

[2016-08-31 10:45] acidjazz commented on #11
You got it!

[2016-09-05 10:28] frm commented on #3
@andreabedini @IanCStewart should be fixed by now. Sorry it took me so long.

It's ok on my end but can you confirm it, please? I'll re-open the issue if it persists.

[2016-09-05 10:30] frm commented on #11
Are you up for submiting a PR with this option?

[2016-09-05 10:31] frm commented on #6
Are you still interested in implementing the async mechanism?

[2016-09-06 01:37] andreabedini commented on #3
@frmendes works now, thanks! all this is a bit above my head, could you say a word about why this was happening? btw I tried to hack a simple pyenv integration to your theme in 9b1c1ee318138cd9b9fffbcd0dcf5bc46ce19f0b

[2016-09-06 01:48] acidjazz commented on #11
@frmendes yes, apologies, as soon as i catch a break, sometime this week.

[2016-09-06 07:19] frm commented on #11
@acidjazz, no worries, happens to everyone! Feel free to take your time. Just checking in order to clean up the issues.

[2016-09-06 07:52] frm commented on #3
To be honest, it was something pretty new to me as well.  The relevant change is [this line](https://github.com/frmendes/geometry/commit/dbd28b23293b0862055deda8e59db57ebd6d6606#diff-37d2e8a43274d6fbaf5b762a55f5138cR211).

When you are using some special characters, like `♦︎`, the terminal has a hard time determining their true width.

Zsh checks the full width of the prompt in order to place each

[2016-09-06 15:26] IanCStewart commented on #3
@frmendes looks like its working just doing some weird indenting jumping stuff now. ass u can see below first it has more space then the space disappears

![screen shot 2016-09-06 at 17 23 57](https://cloud.githubusercontent.com/assets/14125280/18279779/ff9afa58-7456-11e6-9b0c-c144b618e31d.png)
![screen shot 2016-09-06 at 17 24 08](https://cloud.githubusercontent.com/assets/14125280/18279780/ffb19

[2016-09-06 21:52] frm commented on #3
That really shouldn't happen after the fix. Can you check if it happens with `export GEOMETRY_SYMBOL_PROMPT="♦︎"`? Besides that, can you provide the prompt character you are using?

[2016-09-08 07:17] andreabedini commented on #3
just FYI I switched to ☁︎  and ☂ for `GEOMETRY_SYMBOL_PROMPT` and `GEOMETRY_SYMBOL_EXIT_VALUE` (thanks for the tip @IanCStewart!) and I can reproduce. The autocompleted command shifts left.

[2016-09-08 10:46] tomspeak opened #13 "Extra space when disabling git commit time"
Recently been using this theme and loving it, this is extremely nit picky, but for such an aesthetic theme it stands out!

If you disable the git time, there's a gap between the spacing where it used to be:

![](https://d3vv6lp55qjaqc.cloudfront.net/items/0I0Z113F3T2r231m2S2y/Image%202016-09-08%20at%2011.44.02%20am.png?X-CloudApp-Visitor-Id=1751005&v=40e46ce8)

Is it possible to make the spacing c

[2016-09-08 10:51] frm commented on #13
It's annoying, yeah. It's even there even when displaying git time, I think. Or maybe my local version has a similar issue. Can you confirm if it happens with git time enabled?

Thanks.

[2016-09-08 10:52] tomspeak commented on #13
Ah, you are right, same spacing enabled and disabled.

[2016-09-08 10:53] frm commented on #13
I'll push a fix in a bit.

[2016-09-08 11:40] frm commented on #3
I just pushed a fix for this.

There's a small caveat with it, though. Using unicode characters means I have to calculate the size of the prompt character. In some cases, such as ☁︎, zsh has some issues figuring out the prompt character columns and a space gets added after the prompt.

However, this only happens with some characters, as far as I could tell, which means I don't have a fix for it. I

[2016-09-08 11:46] #13 closed

[2016-09-08 11:47] frm commented on #13
Done! Seems ok on my end. I'd appreciate if you double checked and feel free to open an issue or submit a PR if you find any other issues.

[2016-09-08 11:54] tomspeak opened #14 "prompt_geometry_render:1: = not found"
I am using `zplug` to manage my plugins, since the update from #13, I now get this error:

`prompt_geometry_render:1: = not found`

I have updated, reloaded my terminal, reloaded zsh and as a last resort re-installed geometry.

Any thoughts? I looked through the code but my understanding is very primitive. Thanks

Variables that I am using:

[code]

[2016-09-08 11:55] frm commented on #14
What version of zsh are you using?

[2016-09-08 11:56] tomspeak commented on #14
[code]

[code]

[2016-09-08 12:03] frm commented on #14
I'm not able to reproduce your issue using antibody. But can you check if it's fixed now?

[2016-09-08 12:04] tomspeak commented on #14
Works perfectly, thanks for the fix. Great theme :)

[2016-09-08 12:04] #14 closed

[2016-09-08 12:06] frm commented on #14
Wow, that was a blind guess. Super! Thanks for using!

[2016-09-27 19:35] fth86 opened #16 "prompt_geometry_set_cmd_title: backticks and $() get evaluated twice"
Over at oh-my-zsh we just confirmed the geometry theme to be responsible for the double evaluation of commands within backticks and $():

$ echo `echo doh >> doh`
$ cat doh
doh
doh

The same happens with $(). mcornella was able to trace it to:

prompt_geometry_set_cmd_title () {
        prompt_geometry_print_title "${2} @ %m"
}

When I set that function to {}, the problem disappears.

[2016-09-27 20:45] frm commented on #16
Thanks! I can reproduce it and working on it.

Is there an issue where that was discussed?

[2016-09-27 21:13] fth86 commented on #16
No issues.  Thanks for fixing, I like your theme!

[2016-09-27 21:27] #16 closed

[2016-09-27 21:29] frm commented on #16
I was actually asking if you had opened up an issue at the oh-my-zsh repo. I see it's been opened [here](https://github.com/robbyrussell/oh-my-zsh/issues/5466)

Just pushed a quick hack to have this work. Even though it's not exactly the prettiest solution. Can you double check to see if it's fixed on your end?

[2016-10-02 09:34] fth86 commented on #16
it worked

[2016-10-09 16:23] tomspeak opened #17 "git_conflicts issue since zplug 2.3.1"
Hi,

Updated to zplug `2.3.1`, and since then have had lots of issues with zsh, there is also this issue, where the theme is not displayed, but this error keeps appearing:

`prompt_geometry_git_conflicts:[:10: integer expression expected: 1\n1`

I have an issue posted (here, for some more information)[https://github.com/zplug/zplug/issues/268]

Do you know if this is anything caused on your end, o

[2016-10-09 17:57] desyncr commented on #17
Try
- Loading geometry theme without zplug loaded
- Loading zplug with other theme (with git integration - say agnoster)

With that information you'll have an idea where the issue is.

[2016-10-12 15:37] frm commented on #17
The `prompt_geometry_git_conflicts:[:10: integer expression expected: 1\n1` has happened to me previously, so I'll look into it when I can reproduce it. If you want to open a different issue, I'd really appreciate it.

The zplug thing, would you be able to try what @desyncr said?

[2016-10-14 08:32] LuRsT opened #18 "Virtualenv support"
Hi @frmendes, I found this theme recently and am loving it, but it's missing Python's virtualenv support, if I send a PR, are you interested in merging such a feature?

[2016-10-14 08:40] LuRsT opened #19 "Zsh theme development processes"
A bit offtopic but I'm having trouble with developing for this plugin, since my process currently is just to change the repo dir inside `~/.antigen/repos/`, running antigen update and then opening a new terminal and checking if it worked. I'm using an absolute dir path in my `~/.zshrc` but antigen update doesn't seem to be tracking changes there. Do you have a better way of doing this?

[2016-10-14 09:00] frm commented on #19
I currently use [antibody](https://github.com/getantibody/antibody) as opposed to antigen. I have the `geometry.zsh` file symlinked to the correct location of where antibody installs it. I'm actually not sure if I can provide a local path for antibody to use.

As for checking for changes, I just have `alias reload=source ~/.zshrc` and work it from there. Beware this doesn't necessarily change envi

[2016-10-14 09:02] frm commented on #18
Hi!

Yes, I would. Just make sure you disable it by default since this isn't a feature that all users want enabled. You can provide an option, through an environment variable, to enable it. Similar to what [the remaining customizable options](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L48-L51) do.

[2016-10-14 09:24] LuRsT commented on #18
Cool, sounds sensible, expect my PR :D!

[2016-10-14 09:24] #18 closed

[2016-10-14 09:58] LuRsT commented on #19
I found a better way, I symlinked the `geometry.plugin.zsh` inside `~/.antigen/repos/..` but I still needed to run `antigen update` to check changes + open a new terminal, it's better but a little bit better, I'll keep looking for a better way...

[2016-10-14 12:56] desyncr commented on #19
@LuRsT Antigen dev here, you should disable caching (with `_ANTIGEN_CACHE_ENABLED=false`) for development purposes, and as I see you already using `--no-local-clone` (by given antigen an absolute path).

[2016-10-14 12:59] tomspeak commented on #17
I switched over to antibody and all issues seem to have been cleared up!

[2016-10-14 13:42] LuRsT commented on #19
@desyncr Hi! Thanks for joining in the conversation. I struggled a bit even with that config until I realized that I actually have to commit things so that they get updated when I open a new shell, is there an even easier way where I just change the script, open a new shell and check the results immediately?

[2016-10-14 15:48] tomspeak commented on #17
Spoke too soon. It just popped up again during a git rebase.

I am now using an identical setup to your antibody one, @frmendes.

[2016-10-14 18:10] desyncr commented on #19
@LuRsT It should be unnecessary to commit things to see the changes.

This configuration show changes immediately without having to commit, reset antigen configuration or anything:

Disable antigen cache:

[code]

Or in your `.zshrc`:

[code]

Then I have the following antigen configuration:

[code]

You should be good to go.

Hope that helps!

[2016-10-15 13:23] LuRsT commented on #19
Hi @desyncr, that was exactly what I was trying yesterday to no avail.

I added the `export _ANTIGEN_CACHE_ENABLED=false` to the top of my `~/.zshrc`, replaced my `antigen bundle` with the absolute path of my repo dir, and after editing the file in my repo, nothing happens.

With this setup, what I have to do to check changes is:
- Change file in repo
- `git commit` my changes
- `rm -rf ~/.antigen

[2016-10-15 13:30] LuRsT commented on #19
@desyncr OK, after thinking about this a while, I checked the code in `antigen.zsh` and it appears that the CACHING var doesn't do what I want since the file inside `~/.antigen/repo...` is not being updated everytime after I open a new terminal, which is what I want, so antigen is still reading the file stored there rather than the cache, but the file is still the old version. What I actually need

[2016-10-15 13:43] LuRsT commented on #19
OK, last update, I finally figured it out, I was missing the `--no-local-clone` option that you referenced in your first comment, that is what makes it not use the `~/.antigen/repo` folder. Thanks for the help :heart: !

[2016-10-15 13:43] #19 closed

[2016-10-15 16:33] desyncr commented on #19
@LuRsT Glad you got it working :+1:.

Passing a full path should be the same as using `--no-local-clone`. I'll take a look to see what's going on.

[2016-10-16 19:50] frm commented on #17
Is it working with antibody?

[2016-10-16 19:51] tomspeak commented on #17
The theme and zsh works flawlessly, other than the git conflict warning posted above appearing during rebases.

[2016-10-16 19:52] frm commented on #17
Yea, I'll try to reproduce that. Happened to me during a rebase, but it doesn't happen consistently.

[2016-10-16 19:55] tomspeak commented on #17
Seems to be fully functional, just pointing it out incase it's a symptom of something bigger.

[2016-10-20 09:10] z0rc commented on #6
Found a bit simpler solution at http://www.anishathalye.com/2015/02/07/an-asynchronous-shell-prompt/, should be relatively easy to implement here.

[2016-10-20 12:05] z0rc opened #23 "Option to disable RPROMPT"
Having RPROMPT when running a subshell in midnight commander produces all kind of weirdness. I used to disable it completely under such condition. All I need is an option in geometry to do so. Probably I can hack it around without changing the geometry, but messing with precmd hooks isn't a sane way to maintain it.

[2016-10-20 12:09] z0rc opened #24 "Option to add custom prefix/postfix to PROMPT"
I'd like to define my own indicators that will be included in PROMPT. I can easily create a function or variable to return indicator string, but I miss is a proper way to inject it into geometry PROMPT.

[2016-10-21 11:12] frm commented on #24
You can change the prompt symbols, if I understood correctly.

Simply export one of [these variables](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L27-L37) in your `.zshrc`.

You can find an example [in my dotfiles](https://github.com/frmendes/dotfiles/blob/master/system/prompt.zsh#L18-L24). I'm changing the exit value symbol plus a couple of colors.

[2016-10-21 11:13] frm commented on #23
So, you're saying you want to disable `RPROMPT` at all or just mitigate the effects of running commands in a subshell?

[2016-10-21 11:15] frm commented on #6
This seems to be a good alternative. If you want to make a PR, feel free to do so!

I might tackle it in the next couple of weeks as well.

[2016-10-21 11:44] z0rc commented on #24
Not really what I need. I want to expand prompt with my own data. Technically this looks doable with adding my strings to symbols there. But I'd like to see something like https://github.com/nojhan/liquidprompt#adding-a-prefixpostfix

[2016-10-21 11:54] z0rc commented on #23
The RPROMPT itself, potentially this means skipping git info virtualenv info calls for saving cycles. Basically `mc` messes with it that much that is stops being the _right_ prompt.
![screen shot 2016-10-21 at 14 53 11](https://cloud.githubusercontent.com/assets/787519/19597588/24c8c124-979e-11e6-92e9-73237fcb6e15.png)

[2016-10-25 16:05] jimmyharris commented on #17
I am seeing the same issue with zplug version 2.2.0 I believe the issue was introduced with the with the recent timestamp prompt enhancement because checking out c8ec1b6 seems to have made the issue go away.

[2016-10-27 16:05] n-m-b opened #25 "prompt_geometry_render:local:13: not valid in this context: %F{242}master%f"
Alright, so i'm running the latest version of oh-my-zsh and I've gone through the tutorial on your page and keep getting the same error for the theme "geometry":

`prompt_geometry_render:local:13: not valid in this context: %F{242}master%f`

but the triangle will still load...
Any thoughts?

[2016-10-27 16:09] frm commented on #25
What OS and which version are you running? Also, what's the zsh version?

[2016-10-27 16:12] nmbarker commented on #25
Running
Mac OSX El Capitan 10.11.4
ZSH --version > 5.0.8

[2016-10-27 16:12] nmbarker commented on #25
I've got a new error launching in iTerm vs Hyper term:

Hyper term returns the one above, however iTerm returns:
`prompt_geometry_render:15: unknown file attribute:`

[2016-10-28 16:16] nmbarker commented on #25
Edit:
I went through and looked at the code, Hyperterm no longer returns:
`prompt_geometry_render:local:13: not valid in this context: %F{242}master%f`
But now returns the same as iTerm2:
`prompt_geometry_render:15: unknown file attribute:`

[2016-11-01 20:45] jchris commented on #25
I'm seeing this on Terminal on a stock zsh 5.0.8 and El Capitan 10.11.6

[2016-11-01 22:26] nmbarker commented on #25
@jchris So what would your solution be, if you have one?

[2016-11-05 16:49] terry182 commented on #25
@jchris @n-m-b I happen to encounter this problem but temporarily solving this problem when I call `zsh` in `zsh` again.

Update:
This problem will be solved if you have `zsh` 5.2 installed by home-brew. But I still can't Figure out why this will work

[2016-11-07 05:06] desyncr commented on #23
Probably just branch off the [following lines](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L262).

[2016-11-07 05:09] rjayako opened #28 "What is the font in the screenshot?"
Close after answer, Thanks!

[2016-11-07 05:10] desyncr commented on #24
Maybe some kind of callback, ie `geometry_(r)prompt_[pre|post]_callback` but I think it's too complex to implement to be fully customizable.

[2016-11-07 05:12] desyncr commented on #28
May be [Inconsolata](https://github.com/frmendes/dotfiles/blob/master/terminator/config/config#L16).

[2016-11-07 09:43] frm commented on #28
The font is [Roboto Mono](https://github.com/powerline/fonts/tree/master/RobotoMono). It's patched to allow git symbols.

[2016-11-07 10:12] #28 closed

[2016-11-07 10:14] frm commented on #24
It seems a bit complex, yeah. I think I'll let this hang on the bottom of the list since there are more pressing issues and features.

[2016-11-09 15:02] nmbarker commented on #25
Alright so the only fix i've found is by installing ZSH version 5.2 by homebrew. Otherwise I don't see a fix any time soon.

[2016-11-09 15:14] desyncr commented on #25
So this only happens on `5.0.x`? I'll try to check geometry on `5.0.8` later tonight.

[2016-11-09 15:21] nmbarker commented on #25
@desyncr I used to have 5.0.8 and have no idea of how I installed it. I think I did it through a binary, all I know is that the brew install fix everything for me and I've got powerline symbols and no errors.

[2016-11-13 22:55] #25 closed

[2016-11-14 09:17] #6 closed

[2016-11-15 12:38] desyncr commented on #23
Unless anybody else wants to take up this task I'm gonna start it.

[2016-11-15 12:41] desyncr opened #32 "Git prompt issues with Prezto"
`BRACE_CCL` option set by prezto's `environment` module causes:

    Fatal error ambiguous argument @u

By removing `{` and `}` from the commands.

[2016-11-15 12:43] #32 closed

[2016-11-16 10:27] tomspeak opened #33 "`git init` causes last commit to be 17121days"
![](https://d3vv6lp55qjaqc.cloudfront.net/items/3M3D3U3s2b362M1S3q40/Image%202016-11-16%20at%2010.24.25%20am.png)

To reproduce:

1. Create a new folder
1. `git init`

[2016-11-16 11:32] frm commented on #33
It's the epoch timestamp conversion.

This happens because when the repo is created, [the last commit time](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L110) is set to 0 so the displayed value is the current unix epoch timestamp.

[2016-11-16 11:33] tomspeak commented on #33
Interesting, any quick fix? That being said, it's such a minor issue that you only see once every few months, for a few seconds. Was just making sure it wasn't anything more malicious than epoch being epoch!

[2016-11-16 12:20] desyncr commented on #33
It should be easy to check for `last_commit` being `0`. Should we remove the invalid information blocks? (`prompt_geometry_git_time_since_commit`, `prompt_geometry_git_remote_check`).

[2016-11-16 12:30] frm commented on #33
I'm not sure what I would like to display here. Maybe just `branch :: ⬡/$DIRTY_SYMBOL`? Or a message saying `no commits`. Any takes on this?

[2016-11-16 12:38] tomspeak commented on #33
Some form of indication that there are no commits would be great. Open to `no commits` or a symbol.

[2016-11-16 13:00] desyncr commented on #33
Should be an easy fix. Everybody's welcomed to take up this task. Otherwise I'd be up to do it.

[2016-11-16 13:17] tomspeak commented on #17
Just to note, I have this consistently on every rebase that has conflicts these days. I'm fully up to date with antibody and this theme.

[2016-11-16 13:22] desyncr commented on #17
I'll take a look into this later tonight.

[2016-11-16 13:24] desyncr commented on #11
ping @acidjazz Are you still interested?

[2016-11-19 03:02] desyncr commented on #17
Can't seem to be able to reproduce it.

[2016-11-19 09:45] frm commented on #17
I ran into this yesterday at work during multiple rebases. But it doesn't seem to happen everytime and I am not able to reproduce it consistently.

[2016-11-19 18:02] desyncr commented on #17
Looking further it seems you have to have at least two merge conflicts during a rebase.

Issue I'm facing though is [here](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L185) it's failing to determine `total`:

[code]

[2016-11-20 14:42] frm commented on #17
It's a bit worse than that because `file_count=$(echo -n "$conflicts" | $GREP -c '^')` returns different results for `grep` and `ag`.

[code]

[2016-11-22 03:24] #33 closed

[2016-11-22 14:51] #11 closed

[2016-11-22 22:24] acidjazz commented on #11
thanks @desyncr for taking care of this, sorry i couldn't make the time to do so!

[2016-11-23 01:04] #17 closed

[2016-11-25 14:12] desyncr opened #40 "Geometry compatibility with zsh 5.0.x"
Currently geometry won't run on `zsh 5.0.x` due to a simple syntax issue present in a couple of places, ej. https://github.com/frmendes/geometry/blob/master/geometry.zsh#L124, https://github.com/frmendes/geometry/blob/master/geometry.zsh#L223.

Error message:

    geometry.plugin.zsh:124: parse error near `]]'

These are easy to fix issues for anyone interested in contributing.

[2016-11-29 12:31] desyncr opened #42 "RFC: Plugin architecture"
There are lots of tools that can be added to the prompt, they are useful for some but not generally useful for everyone, naturally. This causes the code to grow large and maintenance becomes a problem. This will become an issue as more prompts are added.

To be able to manage this issue I propose to turn most informative prompts (git, virtualenv, python, etc) into a separate file that can be loade

[2016-11-29 12:35] frm commented on #42
I like this idea. It's starting to become difficult to maintain and the original idea behind geometry was trying to keep it minimal. I'd rather have a clean option with sane, minimal defaults and try to remove the unused code overhead.

What's your take on option flags? For example the git conflict count. Would it still be set by an environment variable?

[2016-11-29 12:44] desyncr commented on #42
Yeah, I think so. All plugin-related environment variables will be defined -set up, defaults etc- in the plugin code, thus will be, sort of, invisible to geometry.

[2016-11-29 12:52] frm commented on #42
I'm definitely up for this. There are a few things we would need to decide though:

- [ ] define minimal features
- [ ] define plugin function API
- [ ] define naming guidelines (function, variables and option flags)

[2016-11-29 12:56] #23 closed

[2016-11-29 13:40] desyncr commented on #42
As Minimal features:
  - Ability to load informative prompts at run time (git, virtualenv, docker)
  - Ability to load custom prompts

Plugin interface:

    # One-time only function to setup plugin configuration variables
    # and register with geometry as a plugin
    geometry_prompt_<plugin_name>_setup

    # Prompt rendering function
    geometry_prompt_<plugin_name>_render

    # These proba

[2016-11-29 13:53] frm commented on #42
I'm fine with the `setup/render` approach. The function and variable naming goes with what we already have set up. I'm finishing a README draft that can include those recommendations for contibuting.

A couple more topics:

How would you implement the plugin file sourcing by geometry?

What would the register function do, internally?

What would be the core of geometry? I'm inclined to just use th

[2016-11-29 14:14] desyncr commented on #42
In geometry's own setup function it'll iterate over the registered plugins and try to load the plugin by naming convention from geometry's own plugins: `$GEOMETRY_ROOT/plugins/geometry_prompt_<plugin_name>.zsh`

Custom plugins will be sourced by the user after geometry:

    source geometry.zsh # Will load default plugins: git, virtualenv etc
    source custom_geometry_prompt.zsh # will register i

[2016-11-29 14:19] desyncr commented on #42
I'm also thinking `shutdown` and `unregister` functions.

BTW these changes can be fully backward compatible if we choose to load all default plugins by default and let them choose to be rendered or not (`setup` could return a flag to further be registered or not).

[2016-11-29 14:24] frm commented on #42
I like that the plugins get a `setup` function but if geometry will be iterating over the global array and the plugins will always be in the default directory, do they still need to register with geometry? The way I see that would be if it was a custom plugin that isn't bundled with geometry.

[2016-11-29 14:25] frm commented on #42
Can you elaborate on the `shutdown` function?

[2016-11-29 14:31] desyncr commented on #42
Geometry itself will register the default plugins from `GEOMETRY_PROMPT_DEFAULT_PROMPTS` array in the `setup` function. Instead of registering they could be sourced, but I'd prefer to use the plugin interface.

The `shutdown` function will be defined, if needed, by plugins in order to call `unfunction`, remove variables, hooks etc. Probably called on the `unregister` function, used to remove infor

[2016-11-29 14:42] frm commented on #42
I'm fine with using the interface.

However, I think this work should start in a separate branch and break backwards compatibility. Most of the current option flags should be set aside to an external plugin and leave only some defaults like git and async, as well as the prompt symbol/colors customization. I really like the idea of stripping down the prompt in order to get it minimal and have it gr

[2016-11-29 14:55] desyncr commented on #42
Fine. I'll create a feature branch today and sketch the minimal working version, we'll move from there.

[2016-11-29 14:59] frm commented on #42
Cool. We can leave this issue open for future reference and for anyone to jump in and give their opinion, but we should probably keep PRs open to accompany progress and make decisions as they come up.

[2016-11-29 15:01] desyncr commented on #42
I'll leave this issue open for general discussion and feedback while keeping most technical details/implementation discussion on a PR.

[2016-12-01 21:04] desyncr opened #44 "Set title doesn't work as expected"
When executing a long-running command the terminal title is set to "$COMMAND @ $CURR_DIR". Should it be the running command.

![screen shot 2016-12-01 at 6 02 19 pm](https://cloud.githubusercontent.com/assets/1857707/20812440/5da3da7a-b7f0-11e6-8cf6-de84b5d7cf6b.png)

Should be an easy fix for anybody interested in contributing.

[2016-12-03 13:53] desyncr commented on #40
Fixed in #46

[2016-12-03 13:53] #40 closed

[2016-12-08 20:38] frm commented on #42
Once #45 gets merged, the new plugin architecture will be implemented. However, as you mentioned, there are still a couple of things remaining. Off the top of my head:

- [x] README (on it)
- [x] Add a README with documentation for each plugin
- [ ] Compile step of default plugins into geometry (not necessary for 2.0, just a nice to-have)
- [ ] Complete config for custom separator (some plugins st

[2016-12-08 21:24] desyncr commented on #42
Alright. I'll be creating github issues for the point listed above. We can move from there.

[2016-12-09 00:04] desyncr opened #49 "Update README.md featuring plugin support"
- Feature custom prompt support
- Add README.md for each plugin
- README.md for plugin setup and development

@frmendes I'm creating this just to keep track of it.

[2016-12-09 00:06] desyncr opened #50 "Compile step of default plugins into geometry"
The idea is to compile geometry.zsh with `lib/*` and `plugins/*` bundled into it in order to have a single `.zsh` to source.

[2016-12-09 00:13] desyncr opened #51 "Left prompt customization"
- Modify prompt to make use of plugins
- Be able to configure plugins for rprompt as well as prompt.
- Evaluate which customization can be added

[2016-12-09 00:15] desyncr opened #52 "Complete config for custom separator"
Update default plugins to make use of `GEOMETRY_PLUGIN_SEPARATOR` to separate prompt blocks.

Some plugins such as `git` use a hardcoded string as separator (ex. `::`). Review if it's necessary to change it for each plugin or just some of them.

[2016-12-09 01:00] desyncr commented on #24
@z0rc Now geometry has support for plugins (#43, #45 ), which means you can add your custom prompts into geometry. [Here](https://github.com/desyncr/geometry-dir-info-prompt) is a working example.

[2016-12-09 02:20] desyncr commented on #24
I'm closing this as it should be solved.

[2016-12-09 02:20] #24 closed

[2016-12-09 22:42] frmendes opened #54 "Remove "enabled" flag for plugins"
Some plugins, such as docker machine, have an `enabled` variable. If the plugin is loaded, it should be considered enabled, otherwise the user wouldn't have added it to the plugin list.

It's also not intuitive having to add the plugin to a plugin list and setting an environment variable.

[2016-12-09 23:36] desyncr opened #55 "Rename built-in plugin configuration variable"
As per https://github.com/frmendes/geometry/pull/53#discussion_r91814823. Rename `GEOMETRY_PROMPT_DEFAULT_PROMPTS` to `GEOMETRY_PROMPT_PLUGINS`.

[2016-12-10 00:02] desyncr commented on #54
It think most built-in plugins have a `*_ENABLED` configuration variable available.

It should be an easy fix for anybody interested.

[2016-12-10 02:11] #55 closed

[2016-12-10 03:23] #49 closed

[2016-12-10 03:42] desyncr opened #57 "Add Node/yarn version plugin"
Create built-in plugin (in the lines of `virtualenv` and `docker_machine`) for `node` and `npm` version prompt.

Prompt should look something like:

    ⬡ v6.9.2 (3.10.9)

`npm`s start up time is quite noticeable so version information should be cached in the setup phrase, in fact, this should be done for `node` and `npm`.

This is a great opportunity for anyone interested in contributing.

[2016-12-10 03:54] desyncr opened #58 "Add Ruby/rvm version plugin"
Similar to #57 create a plugin for ruby/rvm version information prompt.

Use `rvm`/`rbenv` if available. Display in the following format:

     ◆ 2.3.3 (1.27.0)

Cache version information in the setup phrase.

This is a great opportunity for anyone interested in contributing.

[2016-12-10 04:09] desyncr commented on #42
I'm closing this up as plugin structure is already set up and deployed. Missing/pending points have their own [issues](https://github.com/frmendes/geometry/issues) to keep track of them.

[2016-12-10 04:09] #42 closed

[2016-12-13 11:46] ivancuric opened #59 "remove /tmp/geometry-rprompt-info-69286?"
After every prompt, I'm getting the following, which can be dismissed by pressing enter:
[code]

[2016-12-13 11:53] frm commented on #59
Hi! Thanks for submitting the issue. Can you please tell us what OS and zsh version you are running?

[2016-12-13 11:57] ivancuric commented on #59
macos 10.12.1 (16B2555), `zsh 5.3 (x86_64-apple-darwin16.1.0)`
Using zplug to manage the installation.

[2016-12-13 12:04] desyncr commented on #59
It's [this](https://github.com/frmendes/geometry/blob/master/lib/async.zsh#L35) line. I never got that message, it's write protected by any chance?

[2016-12-13 13:01] desyncr opened #60 "Lag and high CPU usage on large repositories holding enter-key"
On this particular scenario, where the user holds the enter-key and the current directory is a huge repository, geometry (async library, in fact) may consume a lot of CPU and for this reason the prompt may "lag" and seem "slow".

I attribute the high CPU usage to the [exec, kill, and re-exec](https://github.com/frmendes/geometry/blob/master/lib/async.zsh#L17) of git subprocesses to print the git b

[2016-12-13 13:10] frm commented on #60
I always knew that much forking would come back and bite us.

Well, caching the rprompt may seem like a good solution but I'm not sure if I like it. How high is the probability that something has changed between the two consecutive prompt writes?

Also is this a symptom of a different problem: is our solution not enough? Should we consider switching to zsh-async?

[2016-12-13 13:13] desyncr commented on #60
I could try to switch between our home made implementation and zsh-async as a experiment and see if there is a difference in this regard.

I believe that caching could work in this particular context (by caching by very small amount of time, ie, <1s).

[2016-12-13 13:16] frm commented on #60
Well, our solution is simple and maintainable. I'd rather have that instead of having other dependencies.

I'm curious about the performance of both solutions though. How about we test them?

[2016-12-13 13:28] desyncr commented on #60
Yeah, I wanted to try zsh-async for awhile but never found a good excuse to use it.

Anyways the issue is with exec + killing subprocesses. I don't remember the reason why I choose to opt for kill a running subprocess rather than let it finish and avoid firing up a second one.

[2016-12-13 13:43] ivancuric commented on #59
Yep, it's read-only for everyone but system.
Seems to be the following issue:
https://superuser.com/questions/1133065/unable-to-write-to-tmp-osx-unable-to-correct-permissions-operation-not-permitt#comment1629612_1133065

[2016-12-13 14:09] frm commented on #59
Try setting `GEOMETRY_ASYNC_TMP_FILENAME=~/.geometry_rprompt_info` before sourcing geometry.

[2016-12-13 15:40] desyncr commented on #60
I remember, it was because it may show stale/invalid information.

Say I let a 5 second process run, meanwhile the user issues a `git checkout other-branch`, then I print the result from the long-running process. I'll end up displaying the branch info from the previous checkout.

But anyways, taking a further look it seems that long-running git process do "lock" the git repository so it's unfeasib

[2016-12-13 15:50] desyncr commented on #60
Maybe related: https://gist.github.com/sindresorhus/3898739

[2016-12-13 16:04] ivancuric commented on #59
The issue is still there.
This is my current .zshrc:
[code]

[2016-12-13 16:11] desyncr commented on #59
Not sure how zplug works but try moving

    GEOMETRY_ASYNC_TMP_FILENAME=~/.geometry_rprompt_info
    GEOMETRY_PROMPT_PLUGINS=(virtualenv docker_machine exec_time git)

Above the line where you source zplug.

[2016-12-13 16:18] desyncr opened #61 "Spaces before git plugin's branch name"
There are a few empty spaces before git branch name. There should be a single space between the plugin outputs (in this case exec_time and git).

![screen shot 2016-12-13 at 1 15 29 pm](https://cloud.githubusercontent.com/assets/1857707/21148226/550a1de4-c136-11e6-90a1-748c6d2becad.png)

For anyone interested in their first PR.

[2016-12-13 16:22] ivancuric commented on #59
Thanks, but it's not that either. I'll see what else I can dig up.

[2016-12-13 17:09] desyncr commented on #59
Try loading geometry without zplug. That would reduce the problem space.

[2016-12-14 10:09] bluttringer commented on #59
As @desyncr said, the problem is [here](https://github.com/frmendes/geometry/blob/master/lib/async.zsh#L35): you must call rm like this: ```\rm``` to avoid asking confirmation when user has set an alias like ```rm=rm -i```

[2016-12-14 10:22] ivancuric commented on #59
Oh wow, it's the `alias rm='rm -i -v'`. However, I'm not sure I'm willing to give it up. Too much of a safety mechanism.

[2016-12-14 10:25] bluttringer commented on #59
Sure, you don't  have to remove it. The modification should be made in the async source code.

[2016-12-14 11:29] desyncr commented on #59
@bluttringer Good catch! Thank you.

[2016-12-14 12:13] desyncr commented on #59
Rather than fixing this particular case we should probably look at [here](https://github.com/zsh-users/zsh-syntax-highlighting/issues/390).

[2016-12-14 12:39] desyncr opened #63 "Aliased commands may break geometry"
As per https://github.com/frmendes/geometry/issues/59. Aliased commands may break/change geometry inner workings.

Avoid this with a similar approach to https://github.com/zsh-users/zsh-syntax-highlighting/issues/390:

At the top:

    # Save aliases into a variable and remove/unalias everything
    zsh_highlight__aliases=`alias -L`
    builtin unalias -m '*'

At the bottom:

    # Restore aliases

[2016-12-14 12:43] bluttringer commented on #59
Sure it sounds good to do unalias rather that make specific things but AFAIK the rm of the temp file is made for each display of the prompt right?
Would it not be too pricy to remove aliases then put them back at each prompt display?
Why having to remove the file? Maybe you could just use the same file that you would empty after use?

[2016-12-14 12:52] desyncr commented on #59
@bluttringer As I understand I have to remove/put back only once and not at every render cycle. I have to try it, to confirm.
If it's the case you describe yeah, it's a suboptimal solution and we'll look for other approach.

Regarding why geometry deletes the file on every cycle the reason is because it uses the subprocess id to create the temp files, if we leave them around it'll create a bunch o

[2016-12-14 23:23] frm commented on #59
Thanks for the help @bluttringer ! Feel free to submit a PR if you want to.

@desyncr am I wrong saying that the `rm` is going to happen everytime we need to kill the subprocess? It can be costly to do so.

Well, looking through the code how many instances of possible aliased commands are there? It would probably `grep` and `rm` just of the top of my head. Can't we do something like `command` or `

[2016-12-14 23:35] #54 closed

[2016-12-15 14:36] vincecampanale commented on #61
I'd be happy to give this a shot. (I'm new)

[2016-12-15 14:43] desyncr commented on #61
Please go ahead. Don't be afraid to ask any question. We'll given you feedback as soon as we can.

[2016-12-15 14:47] vincecampanale commented on #61
Sounds good. Couple of questions: How should I begin? Fork and get a local version up and running? Is there a troubleshooting/development mode?

[2016-12-15 15:07] desyncr commented on #61
@vincecampanale Currently we don't have a debug/verbose/development mode. It would be a nice addition I think 👍  So we'll keep that in mind.

There is some documentation about how we manage [plugins](https://github.com/frmendes/geometry/blob/master/plugins/README.md) and prompts that may help you with this.

For a start do [fork](https://help.github.com/articles/fork-a-repo/) and clone your fork l

[2016-12-16 00:18] vincecampanale commented on #61
Okay, forked and cloned. Currently familiarizing myself with the code. What exactly is zsh? From my Googling I've found that it's kind of a Terminal application that does more than just standard Terminal. How do I enable zsh in my terminal and set it to 'geometry' mode. I added a line `source ~/directories/to/geometry.zsh` to `~/.zshrc` but Terminal hasn't changed. I'd like to get used to using th

[2016-12-16 02:44] desyncr commented on #61
@vincecampanale Take a look [here](https://wiki.archlinux.org/index.php/Zsh). It'll give you a general understanding of what is and what it can do, how to set it up and [configure](https://wiki.archlinux.org/index.php/Zsh#Configure_Zsh).

[Here](https://gist.github.com/desyncr/528b1df109d6711ba4a0ae4f1447cb08) is the minimal working `.zshrc`.

Depending on your OS you have various options to insta

[2016-12-16 11:27] aishpant commented on #44
I am interested in working on this issue! But I have not been able to reproduce it.
Could you help me out here?

[2016-12-16 11:33] desyncr commented on #44
Sure thing. As soon as I can I'll give you further information (OS, terminal etc).

[2016-12-16 12:22] desyncr commented on #44
OS: OS X Yosemite, 10.10.5
Terminal: iTerm2 Build 3.0.12 & Terminal.app Version 2.5.3 (343.7)
zsh: zsh 5.3 (x86_64-apple-darwin14.5.0)

Anyways, it happened with zsh 5.2 as well, probably with other versions too.

[2016-12-16 12:24] desyncr commented on #44
Step to reproduce:
  - Open a terminal
  - Run `sleep 10`

Expected results:
   - Terminal window title should display: sleep @ ~/path/to/current/directory

Results:
   - $COMMAND @ $CURR_DIR

Hope that helps!

[2016-12-16 12:26] frm commented on #44
By the way, it's currently working on my end.

![screen shot 2016-12-16 at 12 26 26](https://cloud.githubusercontent.com/assets/4325027/21262756/e7514f28-c38a-11e6-95ac-180b24936725.png)

It's iTerm nightly, by the way.

[2016-12-16 12:31] aishpant commented on #44
Works on my end too.
OS : macOS Sierra, 10.12.1
Terminal : Default terminal
zsh 5.2

I'll try on iTerm2.

[2016-12-16 12:33] frm commented on #44
@desyncr can you check if in the iTerm Preferences, under the Appearance tab, is there any option clicked on "Window & Tab Titles"?

[2016-12-16 12:34] frm commented on #44
Also, don't forget to check the "Terminal may set tab/window title" option under Preferences > Profiles > Terminal. Probably should add that to the docs.

[2016-12-16 12:43] desyncr commented on #44
May be I'm missing something, but remember it also does seem to work on Terminal.app.

![screen shot 2016-12-16 at 9 38 41 am](https://cloud.githubusercontent.com/assets/1857707/21263108/a4154a14-c373-11e6-9e58-d30fd5552cd8.png)

![screen shot 2016-12-16 at 9 39 03 am](https://cloud.githubusercontent.com/assets/1857707/21263109/a415af18-c373-11e6-959f-5edea6ea88b5.png)

[2016-12-16 12:45] frm commented on #44
Works on Terminal.app here as well.

[2016-12-16 12:50] frm commented on #44
macOS 10.12.1, zsh 5.3 (x86_64-apple-darwin16.1.0)

[2016-12-16 13:02] desyncr commented on #44
I guess then it's my set up in some way messing up with this. I'll take a look later today.

@aishpant It'll be better to look for [other issues](https://github.com/frmendes/geometry/issues?q=is%3Aissue+is%3Aopen+label%3Aeasy) if you can't reproduce this one.

[2016-12-17 01:10] vincecampanale commented on #61
I'm getting `chsh: /usr/local/bin/zsh: non-standard shell`. There is a line already in my .zshrc `export PATH="$PATH:$HOME/.rvm/bin" # Add RVM to PATH for scripting`. Could that be affecting it?

[2016-12-17 01:10] vincecampanale commented on #61
Oh wait nevermind. Just restarted terminal and it appears to be working.

[2016-12-17 01:25] vincecampanale commented on #61
Thanks, it's working!
Now, how can I get exec_time to show? What kind of action prompts the display pictured in the issue above?

[2016-12-17 01:51] desyncr commented on #61
The built-in exec_time plugin is enabled by default. So you don't need to configure anything.

What it does is that if a command's execution duration is above certain threshold it's displayed as shown in the screenshot.
The default threshold is 5 (seconds). So issuing this simple command wound render exec_time:

    sleep 5

Hope that helps.

[2016-12-17 02:54] desyncr commented on #61
@vincecampanale Correction. There is still a configuration variable you'll need to set up:

    PROMPT_GEOMETRY_EXEC_TIME=true

Put that line _before_ sourcing geometry.

I thought this was removed in [this issue](https://github.com/frmendes/geometry/issues/54).

[2016-12-17 02:58] desyncr opened #65 "Remove "enabled" flag from `exec_time` built-in plugin"
We have removed the "enabled" flags from `virtual_env` and `docker_machine`, `exec_time` still has [this](https://github.com/frmendes/geometry/blob/master/plugins/exec_time/plugin.zsh#L6) configuration available.

[2016-12-17 05:46] desyncr commented on #60
I tried implementing cache at async lib and git plugin levels and both seems to be quite problematic. So I'm discarding that idea completely.

I made some perf improvements at #68 thou.

[2016-12-17 16:31] #65 closed

[2016-12-18 17:41] #59 closed

[2016-12-18 17:50] frm commented on #60
Do we want to close this just yet?

[2016-12-18 18:19] desyncr commented on #60
It was closed automatically from #68.

[2016-12-18 18:52] desyncr opened #69 "Gracefully handle `--ignore-submodules` flag missing in git 1.7.1 and below"
`--ignore-submodules` flag was introduced in git `1.7.2`. If geometry is used with this git version it throws an error:

[code]

This is almost a non-issue as git `1.7.1` was released in 2010, but I stumbled with this issue on a CentOS 6 machine.

[2016-12-18 18:54] frm commented on #69
Well, we can always fallback to the previous, single-step method, can't we?

[2016-12-18 19:00] desyncr commented on #69
It's not related to #68 as the flag `ignore-submodules`  was present since awhile I think.

[2016-12-20 18:01] desyncr commented on #44
It seems it's all about [this single line](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L44) (check the single quotes). Not sure why you can't reproduce it thought.

[2016-12-20 18:02] desyncr commented on #44
@aishpant  Are you up for this still? Let me know 👍

[2016-12-20 18:03] desyncr commented on #61
@vincecampanale Are you stuck or need any other kind of feedback? Let us know.

[2016-12-20 18:10] aishpant commented on #44
@desyncr sorry I haven't seen the issue here yet. I'll take something else.

[2016-12-20 18:25] desyncr commented on #44
Alright, I'll let  it hang out a bit more for anyone interested and then take it if there is no one to look after it.

[2016-12-21 06:31] vincecampanale commented on #61
Yea, I'm having difficulty with troubleshooting. I'm also getting this error
![screen shot 2016-12-21 at 1 34 08 am](https://cloud.githubusercontent.com/assets/15335197/21379556/e8d4f616-c71c-11e6-925b-efdc8ad4fba5.png)

The relevant lines of code:
<img width="431" alt="screen shot 2016-12-21 at 1 34 43 am" src="https://cloud.githubusercontent.com/assets/15335197/21379566/fc380004-c71c-11e6-8a77-8

[2016-12-21 12:37] desyncr commented on #61
A first look nothing seems out of place. You may create a [gist](gist.github.com) with the relevant file so it's easier to look at.

[2016-12-23 07:36] cnguy commented on #44
Hello, again! :) Just wanted to let you know that it works properly on my build and on both terminals as well.

El Capitan 10.11.6
zsh 5.0.8 & zsh 5.3.1 (one was an old built-in zsh, the other one is the updated one from homebrew)
Terminal.app 2.6.1
iTerm 2 3.0.12

Maybe a yosemite bug or something?

[2016-12-23 12:29] desyncr commented on #44
Could anybody try:

    zsh -f
    source /path/to/geometry/geometry.zsh
    sleep 5

and check if the title is updated as expected? For me what happens is I see `$COMMAND @ $CURR_DIR`.

[2016-12-23 12:38] frm commented on #44
Able to reproduce that way:

![screen shot 2016-12-23 at 12 37 10](https://cloud.githubusercontent.com/assets/4325027/21453998/a9ef8faa-c90c-11e6-98da-616827d6381d.png)

[2016-12-23 12:48] desyncr commented on #44
It seems we're not properly setting `PROMPT_SUBST`. [print](http://zsh.sourceforge.net/Doc/Release/Shell-Builtin-Commands.html) documentation. [Prompt expansion](http://zsh.sourceforge.net/Doc/Release/Prompt-Expansion.html#Prompt-Expansion) docs.

We probably should do `setopt PROMPT_SUBST` to make it work as expected anywhere.

[2016-12-23 12:50] frm commented on #44
@ChauTNguyen @aishpant any of you want to tackle this?

[2016-12-23 18:55] desyncr opened #72 "`exec_time` built-in plugin keeps on being displayed"
The `exec_time` built-in plugin shows a strange behavior after being displayed once. It may keep being show whether a command is executed or not.

Steps to reproduce:

- Launch terminal
- Wait at least 5 seconds
- Press Enter key

Expected behavior:

- No `exec_time` plugin is shown

Shown behavior:

- `exec_time` is shown (8s, 9s, etc)

[2016-12-23 22:57] cnguy commented on #44
I'll try it. Where should `setopt PROMPT_SUBST` be placed though (for style purposes). Right now I have it under Misc configurations (line 35 of geometry.zsh).

[2016-12-24 01:09] cnguy commented on #72
I think the cause of this is that there's no conditional check to see if a proper command was actually executed.

The first case is when I run `source geometry.zsh`, a timestamp is saved, and so running any command afterwards will output the elapsed seconds.

The other case is regarding blank inputs.

When I press enter with blank input in my terminal, `prompt_geometry_set_command_timestamp()` run

[2016-12-24 02:26] desyncr commented on #44
I think it belongs inside the set up method `prompt_geometry_setup` below [this line](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L83). As the global configuration section in `geometry.zsh` is meant for global variables, very little actual code show be placed there.

[2016-12-26 13:19] desyncr commented on #44
Fixed in #74

[2016-12-26 13:19] #44 closed

[2016-12-26 13:22] desyncr commented on #61
Closing this as per #71. Thank you @vincecampanale

[2016-12-26 13:22] #61 closed

[2016-12-29 14:27] desyncr commented on #50
I'm not really sure about this feature/change as this may impose more tools/processes for new comers in order to submit a PR and may make PR/review/merging a bit hard. At least it'll add a new step in the development process.

I'm thinking about the following setup:

- Add `src/main.zsh` with current `geometry.zsh`
- `geometry.zsh` will become the result of `cat`ing `lib/*`, `plugins/*` and `src/*

[2016-12-30 11:30] frm commented on #50
Well, it will definitely make it harder to develop, but there could be a few alternatives.

Setting a `GEOMETRY_ENV` environment variable to `production` by default and only compiling and sourcing the compiled file in that case. If set to `development`, it sources just like it is.

Compiling everything has the advantage of letting us track versions as well. The version on master doesn't necessaril

[2016-12-30 12:21] desyncr commented on #50
Yeah, that's a good approach. By default geometry will run by sourcing `lib` and `plugins`, when compiled there is no need for sourcing. No extra steps required for developers except for the one involved in releasing the changes.

Maybe it's a good time to implement release versions.

The main advantage for end users is that they could install geometry just by `wget / curl`  and sourcing it (ie, n

[2016-12-30 12:32] frm commented on #50
We would be dropping `zplug`, `antigen`, etc plug and play support wouldn't we? I'm fine with that, since it's just sourcing the plugin on `.zshrc`.

[2016-12-30 12:36] desyncr commented on #50
Not at all as for end users it'll be completely transparent. At the end of the day `geometry.zsh` will look the same for `antigen`, `zplug`, end users etc. regardless of the install method.

[2016-12-30 12:38] #72 closed

[2016-12-30 13:35] desyncr opened #79 "Add gitter badge to README.md"
- [ ] Enable gitter channel
 - [ ] Add gitter badge

[2016-12-30 17:45] #79 closed

[2016-12-30 18:06] #52 closed

[2016-12-30 20:56] desyncr opened #81 "Unpushed changes symbol on branch without upstream tracking"
Not really sure this is the expected behavior or not, but on branches without upstream:

![screen shot 2016-12-30 at 5 52 38 pm](https://cloud.githubusercontent.com/assets/1857707/21572542/d8ba6498-ceb8-11e6-9e82-21e886274bcd.png)

This is shown on a repo without commits:

![screen shot 2016-12-30 at 5 55 22 pm](https://cloud.githubusercontent.com/assets/1857707/21572558/24c99dd6-ceb9-11e6-8fd2-26

[2016-12-30 21:44] frm commented on #81
The second one is indeed a bug.

I had a local fix for the first one at one point in time but have since deleted it since I'm using it as a reminder to set the upstream. It's pretty convenient. Maybe set a different symbol for that?

[2016-12-30 23:11] desyncr commented on #81
Yeah I agree  it's quite convenient. I'd go ahead and fix the second issue.

[2016-12-31 11:22] ev-agelos opened #82 "Mercurial support?"
Is it possible to be added? I really like geometry!

[2016-12-31 11:27] frm commented on #82
I'm actually not sure. Personally, I've never worked with mercurial. @desyncr any thoughts?

You can easily create a [custom plugin](https://github.com/frmendes/geometry/blob/master/plugins/README.md) to try it out. Feel free to submit a PR if so.

[2016-12-31 18:05] desyncr commented on #82
It can be easily added as a built-in plugin. Personally I'm worried about maintenance as I don't regularly use mercurial myself.

I would go with a minimal implementation if any (current branch, last commit, dirty/clean status).

[2016-12-31 19:54] frm commented on #82
That's my issue as well. Not using mercurial means it will hardly be maintained.

[2017-01-02 17:49] #82 closed

[2017-01-02 20:27] desyncr opened #84 "Update oh-my-zsh install instructions"
Current [instructions](https://github.com/frmendes/geometry#oh-my-zsh) are outdated and I guess they don't work with the current geometry structure (I haven't tried it).

[2017-01-04 00:08] pangeacake commented on #84
Seems to have worked for me, but I had to copy the `lib` and `plugin` folders to the plugins folder as well.

[2017-01-04 00:13] pangeacake opened #85 "Making geometry look like it is shown in the example images"
In the example images, the colors and other configuration options are different from the default configuration geometry has. Is it possible for the exact configuration of the example to be explained somewhere, or at least some of the color choices? It looks awesome.

[2017-01-04 00:18] desyncr commented on #85
Tried [these](https://github.com/frmendes/dotfiles/blob/master/system/prompt.zsh) settings?

[2017-01-04 01:20] frm commented on #85
Yea, these are my personal settings. I thought I had disabled them when taking the screenshots.

You can just define the environment variables @desyncr linked and you should be all set.

Right then, @desyncr what's your take on this? Update the screenshots or update the default settings?

[2017-01-04 01:30] desyncr commented on #85
I'd leave the default as they are now. No need to change them, I'd either:

- Add a FAQ entry pointing out this configuration
- Update the screenshots

I think the screenshots need some love:

- All of them are too tall with little content to show
- The first one is too noisy compared with the [previous version](https://github.com/frmendes/geometry/blob/b50b78cf0b24cc932fdf5fb12d18248af82775fa/scr

[2017-01-05 10:39] frm commented on #85
Agreed, I'll update them today.

[2017-01-06 15:18] desyncr commented on #51
One option to add would be to be able to configure pwd as one of the following:

- Only last dir name: ` ▲ /path/to/geometry` -> `▲ geometry`
- Folded path: `▲ /path/to/geometry/` -> `▲ /p/t/geometry`
- Full path (default)

First thing to do would be to move `prompt` as a plugin.

Making `prompt` a plugin I think it's a good move as it'll give users a chance to customize it or even completely chan

[2017-01-07 17:24] frmendes opened #87 "Random hostname colouring range"
As of now it's not really that much random.

There are a lot of recurrent colors (purple, blue, light blue). Might have to do with my own setup which currently is [Base16 Tomorrow Night](https://github.com/chriskempson/base16).

However there seem to be some colors that are missing out, mainly to try and avoid conflicts with the red symbol used when a command has a non-zero exit.

[2017-01-07 17:25] frm commented on #58
I have a set up ready for this, might merge if no one else wants to tackle it.

[2017-01-07 17:26] frm commented on #85
See #86. Closing this for now.

[2017-01-07 17:26] #85 closed

[2017-01-07 17:30] frm commented on #69
Did you feel the need to use v1.7.2?

According to [this](https://github.com/git/git/releases/tag/v1.7.2) git v1.7.2 was released in July 2010. It's over six years old, I'm not sure we want to have a mechanism to support software that is barely in the wild.

[2017-01-07 17:32] frm commented on #60
Looking back, the alternative would be to switch to `zsh-async`, right?

I wanted to avoid adding dependencies to the project but we are definitely lacking performance. You said earlier you wanted to try out zsh async. Do you want to take this or should I?

[2017-01-07 17:34] frm commented on #51
I'd move `prompt` to a plugin, definitely. Really like the flexibility it gives for users to customize. Not a fan of `pwd` configuration. Lets face it, the only thing `prompt` would be showing is the directory. Well, symbol as well, but that's configurable.

If we're allowing pwd configuration might as well allow users to completely switch out the left prompt.

[2017-01-07 17:39] frm commented on #50
I'm really fine with that. Adding release versions should be good now as the theme has grown a bit by now. After #51 gets resolved it's more of a prompt configuration wrapper with cool defaults than a simple theme. I'm definitely down for that.

So, I guess it goes like this:

* [ ] Add an environment variable for development or production.
* [ ] Have geometry source whatever it needs depending on

[2017-01-07 17:42] frm commented on #63
As I mentioned in #59 looking through the code there don't seem to be many instances of possible aliased commands.

A possible solution would be prepending with `command rm` or `\rm`, even though that makes the code messy.

Unaliasing and aliasing over and over is going to affect render time, isn't it?

[2017-01-07 17:58] desyncr commented on #69
Not really, I just stumbled with a machine with Cent OS 6. I do agree it's too much of a troubled to handle this particular case.

Closing.

[2017-01-07 17:58] #69 closed

[2017-01-07 18:06] desyncr commented on #63
I guess this issue was left hanging out since this issue was resolved with `\rm`.

[2017-01-07 18:06] #63 closed

[2017-01-07 18:47] desyncr commented on #60
I'm gonna take a look today, quite busy lately.

[2017-01-07 19:26] desyncr commented on #50
Not really sure about auto bumping versions but I'll go ahead and start with the compile steps and prod/dev logic.

[2017-01-09 11:39] #84 closed

[2017-01-11 00:46] castellanprime commented on #57
Hi. First time contributor here. Machine is Debian 8. Could I take this issue?

[2017-01-11 00:56] desyncr commented on #57
Hi @castellanprime Sure thing. Go ahead and ask any question you have :+1:

[2017-01-11 00:59] castellanprime commented on #57
So is it in the same format as docker-machine and virtualenv?

[2017-01-11 01:12] desyncr commented on #57
It should be done in the form of a [plugin](https://github.com/frmendes/geometry/tree/master/plugins#plugins), the format should be:

    ⬡ v6.9.2 (3.10.9)

We're open to suggestions on what to show. I'm not a node developer so I initially proposed the format above, but if there is other more useful information to show, go ahead.

My suggestion is to first start with the plugin structure (setup/re

[2017-01-11 01:24] castellanprime commented on #57
Okay. Doing that now.

[2017-01-11 01:57] castellanprime commented on #57
What is the version number inside the brackets?

[2017-01-11 02:02] desyncr commented on #57
Should be `npm --version` IIRC.

[2017-01-11 12:02] frm commented on #57
It's the npm version but I'd recommend supporting [yarn](https://yarnpkg.com/) when a `yarn.lock` is present.

[2017-01-11 22:17] castellanprime commented on #57
Should we also support nodeenv and nvm as well? I installed node using nvm.

[2017-01-11 23:13] desyncr commented on #57
I guess we can add a prefix if the active node version is from nvm.

With nvm installed:

    ⬡ nvm: v6.9.2 (3.10.9)

vs without nvm:

    ⬡ v6.9.2 (3.10.9)

No need for `nodeenv` for now.

Don't try to add every single tool available, with a basic plugin running that's enough, we can further improve it later on :)

[2017-01-11 23:15] castellanprime commented on #57
Okay. I can print the versions but I have to add some code to detect whether the node is from yarn or from nvm.

[2017-01-11 23:19] desyncr commented on #57
I'd suggest to push your working code and making a PR, that way we can start the code review and testing it out.

[2017-01-11 23:19] castellanprime commented on #57
Okay. Doing that now

[2017-01-12 00:21] castellanprime commented on #57
Should I tag the commit or not?

[2017-01-12 01:00] desyncr commented on #57
No need  to tag. Just branch off master.

[2017-01-13 13:30] desyncr opened #92 "Clarify plugins used in screenshots"
Some users may assume that syntax highlighting will be enabled with the theme (command colouring)  - at least I got asked once.

So it may be useful to add a note explaining which plugins are used.

AFAIK there is only `zsh-users/zsh-syntax-highlighting` plugin installed in the screenshots.

Edit: Other thing to add would be the terminal and `rupa/z` plugin.

[2017-01-13 17:24] frm commented on #92
Adding a question to the FAQ works, right?

[2017-01-13 17:52] desyncr commented on #92
Yeah, that will work.

DC*
Sent from mobile.

[2017-01-14 06:00] reuben453 commented on #58
Hi, I'd like to give this a shot. Can I take this issue?

[2017-01-14 09:28] reuben453 commented on #58
It will probably be useful if the current rvm gemset is also displayed. What do you think?

[2017-01-14 15:35] desyncr commented on #58
@reuben453 I'd have it under a configuration variable, something like:

    GEOMETRY_RUBY_RVM_SHOW_GEMSET=[true|false]

Good work so far in #93

[2017-01-22 18:59] reuben453 commented on #58
Should this be closed now?

[2017-01-23 09:45] frm commented on #58
@reuben453 you're right, closing.

[2017-01-23 09:45] #58 closed

[2017-01-25 17:51] desyncr commented on #92
[code]

[2017-01-25 20:48] frm commented on #92
Oh boy, I forgot about this. I'll updated when I get to my computer, which is probably tomorrow.

[2017-01-25 22:58] castellanprime commented on #57
So I am going to repost the example I am working on:

My inital approach is to check for the following, in order in any directory the user is in:
(a) a yarn.lock file
(b) an .nvmrc file
(c) (possibly) a nodeenv.env file

The test could go like this,

1. If (a) is found, then check for yarn in the `commands` array. If found, check `yarn version` . Else

2. If (a) is not found, then check if $NVM_DI

[2017-01-26 01:07] desyncr commented on #57
Not very familiar with nvm and yarn, so my questions may sound silly:

- Why check for `$NVM_DIR`? -- we seem to look for `.nvmrc` in curren directory after all
- In which case `.nvmrc` may be empty? -- I assume if it exists, there's something on it
- Why check `nvm current` matches `.nvmrc`?

[2017-01-26 21:11] #92 closed

[2017-01-27 00:31] desyncr opened #97 "Add section with user submitted plugins"
To give visibility and kick start a plugin ecosystem.

Meanwhile most custom plugins are rather too specific for publishing there is still a place for plugins for 'svn', for example.

Thoughts you guys?

[2017-01-27 09:24] frm commented on #97
I only half agree on this. I'm ok with most of the tooling or language specific plugins as these cater to most users needs. Some like `hg` or `exec_time` could be extract to a custom section. It has to be on a case-by-case basis but if we are doing this, we should consider defining some criteria.

[2017-01-27 14:50] desyncr commented on #97
I think the criteria should be quite simple:

a) Is the target tooling current? (ie, wide use, think git vs svn)
b) Information shown is targeted towards a wide audience? (ie, useful for the common user)

For example, [this one](https://github.com/desyncr/geometry-pretty-git) should be left out as it doesn't match point b). While [this other one](https://github.com/desyncr/geometry-dir-info-prompt

[2017-01-27 20:16] jedahan commented on #97
It costs very little to keep files in the main tree for now. I would not like to see geometry start to grow it's own package manager which is the road I see this going down. Until there are plugin conflicts or unmaintained packages, frmendes has been great at merging and responding to pull requests.

[2017-01-27 20:17] jedahan commented on #97
Us deciding what a wide audience is tricky - it feels good to have your patch committed upstream and increases the use of the prompt as it is easier to install and use

[2017-01-27 21:27] desyncr commented on #97
My concern is to end up with a huge number of rare and/or unused plugins because once it's merged into geometry we're then responsible for it's maintenance.

We should be able to draw the line on which plugin we want to maintain.

[2017-01-27 21:36] frm commented on #97
I agree with @jedahan when he says it's not that costly. I see more advantages in allowing most plugins as it increases user interaction and contribution, it's easier for users and a great byproduct (which has actually motivated me to step down a bit from responding to issues) is that there have been quite a few new contributors to open source through geometry.

After giving this a thought, I got

[2017-01-27 23:00] jedahan commented on #97
@desyncr when you say add section, where do you mean to add it?

If it is in the readme or a wiki page (or both), I think that is a great idea for people to quickly share cool stuff they have made (like any of the awesome- lists).

I think it would also be nice to add to the readme a quick 'howto use third-party geometry plugins' (clone it/zplug it somewhere, and source after geometry.zsh).

I do

[2017-01-28 16:41] desyncr commented on #97
I meant a README.md. A wiki page would be better off now that I think about it.

This is a good idea.

[2017-01-28 22:34] jedahan commented on #97
Something like https://github.com/jedahan/geometry/wiki/Plugins , which we can link in the readme perhaps

[2017-01-28 23:33] desyncr commented on #97
Yep, sounds good to me!

[2017-01-30 09:47] frm commented on #97
I guess we're all on the page. Any of you want to take this or should I?

[2017-01-30 16:31] jedahan commented on #97
Its weird, every time I go to https://github.com/frmendes/geometry/wiki it just redirects to https://github.com/frmendes/geometry ...

[2017-01-30 16:42] desyncr commented on #97
@jedahan It's because it didn't existed when you visited it. I just created the main page, now you should be able to create further sections.

[2017-01-30 16:59] jedahan commented on #97
@desyncr mind sharing edit permissions?

[2017-01-30 17:34] frm commented on #97
@jedahan just added you as a collaborator. You should have edit permissions once you accept it.

[2017-01-30 18:05] desyncr commented on #97
@jedahan Welcome aboard!

[2017-02-01 16:10] alittlebitweird opened #100 "Using prefix prompt with newline config setting just prepends $'\n'"
<img width="728" alt="screen shot 2017-02-01 at 11 09 49 am" src="https://cloud.githubusercontent.com/assets/4702409/22514960/fc541b2c-e86e-11e6-9fbf-951746605a97.png">

[2017-02-01 16:24] desyncr commented on #100
Do you mean that you configure `GEOMETRY_PROMPT_PREFIX` like so:

    GEOMETRY_PROMPT_PREFIX=$'\n'

and it doesn't show up?

[2017-02-01 18:44] alittlebitweird commented on #100
I mean that I configured it like that and it shows up like in the screenshot. I thought it was supposed to render the prompt on a new line, separate from the path/git information. Instead it displays the quoted code

[2017-02-01 20:35] SamuelM333 commented on #100
I'm having the same problem. I would like to have the path, python env, git info, etc on one line and the geometry symbol with the prompt on the next one.

[2017-02-01 21:11] SamuelM333 commented on #100
I managed to configure the theme with the style I said before. I made a copy of the .zsh file and edited the line 67

Was:

[code]

And I wrote:

[code]

Result:

![screenshot_2017-02-01_17-09-09](https://cloud.githubusercontent.com/assets/13484197/22526327/3200f0ce-e8a1-11e6-9756-66f67cc0c91e.png)

[2017-02-01 21:21] alittlebitweird commented on #100
Awesome! How about if I wanted to keep the right side on the same line as the path?

[2017-02-01 21:26] SamuelM333 commented on #100
I'm wondering the same :sweat_smile: I will experiment a little more and post my results

[2017-02-02 04:37] desyncr commented on #100
From my side configuring `PROMPT_PREFIX` with `$'\n'` seems to work as expected. Be sure you are not quoting it this way: `"$'\n'"`.

We are also working on a suffix configuration that would enable @SamuelM333 setup. We've also plans to make PROMPT more flexible on it's configuration. See https://github.com/frmendes/geometry/issues/51.

[2017-02-06 20:44] desyncr commented on #100
@alittlebitweird Wondering you show us how you configured geometry in order to produce rendering that way.

[2017-02-06 20:44] desyncr commented on #97
Well, it's done https://github.com/frmendes/geometry/wiki/Plugins. Thanks @jedahan

I'm gonna update the page with new screenshots and probably another custom plugin.

[2017-02-06 20:44] #97 closed

[2017-02-06 20:46] desyncr commented on #81
I'm gonna fix it for real this time :) This is just a reminder.

[2017-02-06 20:49] desyncr commented on #60
@frmendes Could you take a look at https://github.com/frmendes/geometry/issues/88 and review zsh-async perf. From my side it's slower than our bare-bones implementation.

Maybe it's something wrong with my implementation but I can't catch it.

[2017-02-06 20:52] desyncr commented on #57
@castellanprime Are you up to implement node/yarn?

I hope we can get you on board since you implemented node plugin! :) It'll be quite a differentiator from other prompts.

[2017-02-06 23:38] frm commented on #60
A bit caught up in work this week. I'll try to do it in the next couple of days.

Actually I was recently wondering if you were going to continue that PR. I'll definitely check perf! I've been wanting to have a good excuse to go into that for ages! ❤️

[2017-02-07 00:22] castellanprime commented on #57
@desyncr @frmendes I am very sorry for not doing much work on this. Had exams last week. Also I have been trying to install node with yarn for the last couple of minutes with no luck. I guess that I cannot get the version of node from yarn. Nvmrc can get multiple node versions if installed on the system but yarn might not be able to.

[2017-02-07 00:36] desyncr commented on #57
@castellanprime No worries! :+1: Gonna take a look at yarn later to see if I can be of any help.

[2017-02-07 02:34] castellanprime commented on #57
Is this what you want?
![screenshot from 2017-02-06 20 33 04](https://cloud.githubusercontent.com/assets/15849318/22675485/9c03036e-ecab-11e6-99bd-ee7e2e6ab110.png)

[2017-02-07 02:41] desyncr commented on #57
Zsh offers a simpler way to populate an array of files but yeah I think it's a good approach.

[2017-02-07 11:30] #81 closed

[2017-02-07 21:03] #87 closed

[2017-02-07 21:07] #51 closed

[2017-02-07 22:23] castellanprime commented on #57
@desyncr I am having some problems running the example I showed. So I make the modification to the array that you commented on. The code is shown below:

![screenshot from 2017-02-07 16 19 01](https://cloud.githubusercontent.com/assets/15849318/22714244/37b98f26-ed51-11e6-860d-61c7d4362917.png)

I tested the piece of code with (zsh -x ):
![screenshot from 2017-02-07 16 22 29](https://cloud.githubu

[2017-02-08 01:31] desyncr commented on #57
Looking good. Go ahead and create a PR. :+1:

[2017-02-08 19:36] fnky opened #109 "Errors showing on new session"
After updating zplug and my plugins (including geometry) I began receiving the following messages, everytime I start a new session.

[code]

How can this be fixed?

[2017-02-08 19:45] desyncr commented on #109
It seems you have loading geometry twice. What's your zshrc/zplug configuration?

[2017-02-09 10:17] frm commented on #109
I actually have a suggestion regarding this but I'm afraid I'm nitpicking. I have on my dotfiles `alias reload="source ~/.zshrc"` to reload configs when I change them and that always sets me off because of the "Error". It always seems like I screwed up something. At the very least can we change it to "Warning" or equivalent?

[2017-02-09 12:00] desyncr commented on #109
Yes I agree. I haven't put much though on the "Error:" string.

[2017-02-09 12:14] sergafts opened #110 "Background jobs support"
Is there any plan to add some sort of indicator for background jobs?

[2017-02-09 12:28] desyncr commented on #110
There are no plans yet but I think it'd make a good build-in plugin.

[2017-02-09 12:33] desyncr opened #111 "Change plugin error message to a warning message"
Change error message:

    Error: Plugin $PLUGIN already registered.

Into a warning message:

    Warning: Plugin $PLUGIN already registered.

Fixes #109

[2017-02-09 13:13] sergafts opened #112 "Cannot configure geometry for single line usage"
I was looking for a way to configure geometry to a single line prompt, so I tried setting `GEOMETRY_PROMPT_PREFIX=""` but this does not seem to work. I randombly fell on [#102](https://github.com/frmendes/geometry/pull/102)  and specifically on [this line](https://github.com/frmendes/geometry/pull/102/commits/07a810eff33950a49de1c8809daeaa33c56bb553#diff-37d2e8a43274d6fbaf5b762a55f5138cR36). I hav

[2017-02-09 13:26] frm commented on #112
Hi! Thanks for reporting.

Did you define `GEOMETRY_PROMPT_PREFIX` *before* loading geometry?

[2017-02-09 13:29] safts commented on #112
Yup. I also tried `GEOMETRY_PROMPT_PREFIX="asdf"` and I could see that my prompt took one line and also started with the string "asdf". So I guess the configuration was correctly placed.

[2017-02-09 14:19] frm commented on #112
I can't seem to reproduce it. You can see in the two screenshots the settings I use. In the first one, `GEOMETRY_PROMPT_PREFIX` is set to default while the second one overrides the prefix correctly.

<img width="642" alt="screen shot 2017-02-09 at 14 17 11" src="https://cloud.githubusercontent.com/assets/4325027/22786997/a8493bce-eed2-11e6-8b79-5c2569635fe7.png">
<img width="644" alt="screen shot

[2017-02-09 14:20] desyncr commented on #112
@sergafts Yep, that's the problem. It does misplaces "" for unset. If you set it up *after* it will bypass that faulty check. So, there's a workaround.

[2017-02-09 14:22] desyncr opened #113 "Geometry handle empty prefix"
Users cannot configure `GEOMETRY_PROMPT_PREFIX`  as "" (empty string) due a faulty check [here](https://github.com/frmendes/geometry/blob/master/geometry.zsh#L36).

See https://github.com/frmendes/geometry/issues/112

[2017-02-09 14:30] safts commented on #112
Nice! Did the trick. Thank you!

[2017-02-09 14:30] #112 closed

[2017-02-09 17:18] fnky commented on #109
My `.zshrc`

[code]

Which sources `.localrc`
[code]

and all shell scripts from `.dotfiles` directory including `zplug.zsh`
[code]

[2017-02-09 17:39] desyncr opened #114 "Async library tries to erase temporal files from other users"
[Async lib](https://github.com/frmendes/geometry/blob/master/lib/async.zsh) uses temporal files to communicate with background jobs.

When a new prompt is loaded the function `geometry_async_setup` tries to clean up -possibly- stalled temporal files. In doing so it does not check the ownership (ex, a prompt for `root`). So it may face a prompt to confirm deletion (`zsh 5.3`).

A possible solution

[2017-02-09 18:55] sergafts opened #115 "[issue]"

[2017-02-09 19:14] frm commented on #115
I'm assuming this was a unintended? I like to think a cat crawled on top of your keyboard 🐱 😹

[2017-02-09 19:14] #115 closed

[2017-02-09 19:15] desyncr commented on #115
He might fell asleep on his keyboard 😝

[2017-02-09 19:16] frm commented on #114
`$UID` is a great option IMO.

[2017-02-09 19:36] safts commented on #115
Actually this WAS my cat. Sorry!

[2017-02-11 03:17] desyncr opened #120 "Double empty line as prompt prefix"
Since this [commit](https://github.com/frmendes/geometry/commit/93dba38ac3db752ca8182c170778499352d66db4) it seems there are two empty lines before the prompt. This only happens on a path without right prompt showing:

[code]

[2017-02-11 15:38] #120 closed

[2017-02-11 15:49] desyncr commented on #120
@jedahan We should always create PR even for small things. No need to rush things.

[2017-02-11 16:39] jedahan commented on #120
@desyncr I'll make sure to do that in the future

[2017-02-12 14:33] frmendes opened #121 "Version tagging"
Continuing the conversation from #119 :

I think it might be about time to start tagging versions. Then use that to add a deprecation warning like @jedahan said. This means we should start adding a `CHANGELOG` and keep a list of deprecation dates in there.

What do you think of that option?

[2017-02-12 17:17] alittlebitweird commented on #100
@desyncr this is what I did: GEOMETRY_PROMPT_PREFIX=$'\n'

[2017-02-12 17:27] desyncr commented on #100
Applied the same configuration both interactively and in `.zshrc` and both ways worked correctly.

Does the issue still reproduces? Can you share your dotfiles?

[2017-02-13 05:17] #111 closed

[2017-02-13 19:23] desyncr commented on #57
Merged in #108

[2017-02-13 19:23] #57 closed

[2017-02-13 19:25] desyncr commented on #109
I didn't tried the whole config just the zplug part and it worked without issues. Can you provide a minimal config where the issue still reproduces?

[2017-02-13 19:36] desyncr commented on #121
Deprecation messages at least for now are not that important IMO.

I would start with a minimal `CHANGELOG.md`, and `v0.1.0` then move from that. As of now I think we can go for it.

  - [ ] Create `CHANGELOG.md` with `v0.1.0` entry, just "Initial release" would suffice
  - [ ] Update README.md with a release badge (see https://img.shields.io/github/release/qubyte/rubidium.svg)
  - [ ] Create rele

[2017-02-15 16:23] fnky commented on #109
I couldn't figure out why it did it. I tried without loading any other files but zplug and it still wrote those warnings. I also tried only to load zplug + geometry without luck.

I have changed the line for loading zplug plugins to

[code]

It isn't fixing the issue, but this will prevent it from showing up in stdout.

[2017-02-15 16:30] frm commented on #109
[code]

Are you sure this isn't loading geometry again?

[2017-02-15 16:51] fnky commented on #109
Yeah I tried to comment out individual loops, and even `echo` the `$file`. It only loads `zplug.zsh` once and only within the loop you specified. I also tried without loops and sourcing zplug manually, same result.

[2017-02-15 17:05] jedahan commented on #109
Can you try a more minimal `.zshrc`, like:

[code]

Its pretty tough for us to reproduce, because we would need the entire contents of your `$HOME/.dotfiles` to see if any of them are re-loading geometry...

[2017-02-15 19:01] alittlebitweird commented on #100
I ended up doing what @SamuelM333 did and it's working out great for me. Beautiful theme dude!

[2017-02-15 20:04] desyncr commented on #100
Cool. @alittlebitweird Closing this for now as it seems it was most likely a configuration issue.

[2017-02-15 20:04] #100 closed

[2017-02-20 10:51] frmendes opened #125 "Virtualenv plugin error"
With the `virtualenv` plugin enabled:

[code]

I recently pulled off master so it was probably introduced since 414ff89, but I can't double check it right now.

[2017-02-20 16:44] #125 closed

[2017-02-26 21:21] #113 closed

[2017-03-09 04:44] jedahan opened #131 "Allow sourcing plugins from any directory"
Right now, we default to `$GEOMETRY_ROOT/plugins/$plugin/plugin.zsh`

If we detect that `$plugin` has any `/` in it, maybe we should source that plugin as a full path?

This would help to not need people to clone plugins into `$GEOMETRY_ROOT/plugins/`

[2017-03-09 05:40] desyncr commented on #131
Users should not clone their custom plugins into `$GEOMETRY_ROOT/plugins/`, this directory is for built-in plugins.

You can have your custom plugin wherever you want, as long as it register itself with geometry with `geometry_plugin_register` it's all fine.

I don't think geometry should care about how your custom plugins are loaded, or load them (there are other tools for this already).

What do

[2017-03-09 20:08] frm commented on #131
I'd rather not make any assumptions on where users should place their plugins. The current solution of letting the user register the plugins is pretty good. That way it's possible to have a bunch of plugins in a `dotfiles/geometry/` directory and have a file source the ones we want registered.

If there's a good reason to change, I'm up for it, but the current solution seems to be the most simple

[2017-03-09 21:33] jedahan commented on #131
I guess my confusion comes from adding things to `GEOMETRY_PROMPT_PLUGINS`, it seems there are two ways to load geometry prompt plugins, one is registering when sourcing a file, one is using `GEOMETRY_PROMPT_PLUGINS`.  In addition, it seems that to pin a geometry prompt third party plugin, you have to search the codebase for `_GEOMETRY_PROMPT_PLUGINS_PINNED` and add it to that array.

[2017-03-09 22:49] desyncr commented on #131
You're right, there are no apis to pin custom plugins. I didn't saw it when reviewing your PR.

I believe that moving [this](https://github.com/frmendes/geometry/blob/master/lib/plugin.zsh#L19) logic inside the `geometry_plugin_register` function would make this functionality available to both built-in and custom plugins.

@jedahan Wanna give it a try? Let me know!

[2017-03-14 23:34] thomasdesr commented on #114
So I hit this today when trying out geometry for the first time.

After debugging for a bit I ended up with a slightly different solution which was to both make the `rm` forceful and add a graceful exit hook to clean up of the temp file.

[code]

I ran into particular difficulty debugging the hang after enabling trace because the `rm` was being run in a subshell. So I removed that as well.

I'd be

[2017-03-15 15:33] desyncr commented on #114
I like the idea of `zshexit` hook, if it works then let's use it. We can even get rid of `rm` in `geometry_async_setup`!

Let's go for it! @thomaso-mirodin

[2017-03-15 16:04] desyncr commented on #110
I'm gonna work on this plugin.

[2017-03-15 22:43] frm commented on #114
Oooh, this is nice. Nice solution. By looking at the diff, and this is me getting ahead of code review, if you see yourself using `\rm -f ${GEOMETRY_ASYNC_TMP_FULL_PATH}* &> /dev/null` more than once, consider extracting it to a separate function.

All in all, this is nice, open up a PR.

[2017-03-15 22:45] frm commented on #121
I'd like to take this on. Start with a minimal version and a `CHANGELOG` and build it up from there.

[2017-03-16 01:17] desyncr commented on #121
@frmendes Please do! I'm up for any question.

[2017-03-16 09:24] frm commented on #121
@jedahan @desyncr any features you would like to be built upon the implementation of version tagging? We already discussed deprecation messages.

[2017-03-16 17:27] jedahan commented on #121
Yeah I think the smallest subset of features for now, until we need them is good. We can probably put all message logic in the setup function on startup for people for now.

[2017-03-16 17:31] jedahan opened #136 "Consider shellcheck"
I don't know if this is the best one, but [shellcheck](http://www.shellcheck.net/) running on pull requests would be cool for enforcing simple code conventions, like number of spaces, and returning true/false when possible, etc.

[2017-03-16 17:34] jedahan commented on #136
Shellcheck does not support zsh https://github.com/koalaman/shellcheck/issues/809

[2017-03-17 21:24] jedahan opened #137 "Git plugin doesn't escape branch names"
https://github.com/njhartwell/pw3nage means we are vulnerable

[2017-03-17 21:28] frm commented on #137
This is actually very creative. Are you taking this?

[2017-03-18 15:30] #131 closed

[2017-03-22 10:30] #114 closed

[2017-03-24 11:17] kreedz commented on #109
I have same issue.
My .zshrc:
[code]
When I open my console it's ok. First time, second time and further.
But if manually `source ~/.zshrc` then I got:
[code]
But if before `source ~/.zshrc` perform `zgen reset` than it doesn't give any warning.
`zgen reset` delete `~/.zgen/init.zsh`.

My `~/.zgen/init.zsh` (autogenerated):
[code]

And I noticed that ${fpath} starts to repeat (equal to the number

[2017-03-24 11:22] frm commented on #109
Manually sourcing `.zshrc` does give that error because you are effectively loading geometry again. As far as I can tell, this doesn't cause any issues and you should be clear to just ignore it. The error message was intended as a warning in case of faulty configuration but it's normal to happen when you reload all your shell configs.

[2017-03-24 13:20] jedahan commented on #109
How would we feel about unloading then reloading a plugin, instead of warning?

[2017-03-24 13:28] frm commented on #109
Is it worth it, though? It's the intended behaviour based on how shells work. If you put `PATH=$HOME/.bin:$PATH` in your `.zshrc` and then source it again, the `PATH` variable will contain `$HOME/.bin` twice. It doesn't clear the environment. Because of that, I'm not keen on doing it by hand. Especially since we would be adding code to handle a very specific issue which isn't really an issue and d

[2017-03-25 00:04] jedahan commented on #109
Yeah I think as long as we are writing to stderr, it's a good idea to keep the current behaviour. The warning is helpful and harmless, made for humans.

[2017-04-03 18:28] desyncr commented on #137
@jedahan Have you looked into this? https://github.com/sindresorhus/pure/pull/305

[2017-04-03 18:30] desyncr commented on #136
It would be a great addition! Maybe we can push forward to have zsh included in shellcheck, or use ksh? Not sure how alike are those.

[2017-04-04 17:10] desyncr commented on #121
@frmendes Is there anything missing to implement versioning? Can I help with anything?

[2017-04-04 17:14] desyncr commented on #109
@frmendes @jedahan I think the actionable now is to better handle error/warning messages. Currently we have writing everything to stdout, ex: https://github.com/frmendes/geometry/blob/master/lib/plugin.zsh#L30
I'm gonna create a new issue for this.

I believe we can close this for now then, @frmendes Should I?

[2017-04-04 17:21] desyncr opened #143 "Properly direct error/warn messages to stderr"
Geometry currently outputs warning and error messages to `stdout`, when the most appropriate behaviour would be to use `stderr`.

Here is some docs about `stdout` and `stderr`:
https://www.jstorimer.com/blogs/workingwithcode/7766119-when-to-use-stderr-instead-of-stdout
http://stackoverflow.com/questions/3385201/confused-about-stdin-stdout-and-stderr
http://www.learnlinux.org.za/courses/build/shell

[2017-04-05 11:28] frm commented on #121
Well, time for me, tbh. Though, I promise I'll add it tonight 🤞

[2017-04-05 11:33] frm commented on #109
I just created #144, to wrap up this subject and avoid any further confusion. Afterwards, yeah, let's just close it.

[2017-04-05 11:39] #137 closed

[2017-04-05 20:08] #109 closed

[2017-04-07 01:56] desyncr opened #148 "Create a CONTRIBUTING.md document"
- Define code conventions
- Create plugin template

[2017-04-10 13:04] desyncr commented on #143
Fixed with #149

[2017-04-10 13:04] #143 closed

[2017-04-10 13:35] frm commented on #121
Fixed by #146

[2017-04-10 13:35] #121 closed

[2017-04-20 12:43] #110 closed

[2017-04-28 10:02] tomspeak opened #150 "ERR: Error stat()ing when dealing with a rebase with conflicts"
[code]

When I do `git pull --rebase origin master`, and incur conflicts, this will be printed in the console after each command is ran. `ls`, `cd` and what not.

Is this related to geometry?

[2017-04-28 12:33] kreedz opened #151 "How to make a custom auto-ls function by enter key and geometry theme workable together?"
Auto-ls function, actually two functions that I found, they works fine for example with oh-my-zsh arrow theme.
function one:
[code]

function two:
[code]
I'm putting function after loading theme.

But with geometry theme I just can see for like 0.1 second the output of ls when hitting enter and then it disappear. I've just find out that it happens when ls output has one line.
But if there more tha

[2017-04-28 12:54] desyncr commented on #150
It does seems like a custom error from somewhere else. I'll take a further look later today.

Thanks for reporting.

[2017-04-28 12:58] tomspeak commented on #150
Cheers, I am going to comb through my setup later to see if I can identify anything that would conflict. I run a pretty light setup so I thought I'd start here at least.

[2017-04-28 13:23] desyncr commented on #151
You may try disabling async: `PROMPT_GEOMETRY_RPROMPT_ASYNC=0`

[2017-04-28 13:52] kreedz commented on #151
It gives nothing except ```prompt_geometry_render:12: command not found: 0``` when performing any command.

[2017-04-28 13:59] desyncr commented on #151
Sorry, it should be `PROMPT_GEOMETRY_RPROMPT_ASYNC=false`.

[2017-04-28 14:12] kreedz commented on #151
Now it gives nothing too.

[2017-04-28 14:17] frm commented on #150
Oh. I think I know what this is. It's when you have conflicts in a file and in that same commit some other file was removed. It tries to open all changed files in that commit to count the conflicts.

I can tackle this later today.

[2017-05-03 04:08] desyncr commented on #151
Can confirm the issue is present in `master`. I'll further investigate it.

[2017-05-03 04:30] desyncr commented on #151
Tried `auto-ls` and found the issue has to do with `GEOMETRY_PROMPT_PREFIX`.

There are two workarounds for this:

- Set `GEOMETRY_PROMPT_PREFIX` to "".

[code]

- Adapt `auto-ls` function:

[code]

I haven't tried `do_enter` function but it should be a similar issue. I have still have to understand why this happens.

[2017-05-03 04:49] desyncr commented on #150
This happens during a conflict on a non top-level directory due to `git diff --name-only --diff-filter=U` in `prompt_geometry_git_conflicts`.

[2017-05-03 09:23] kreedz commented on #151
Thanks, both workarounds works well.

While googling I found on [SO](http://stackoverflow.com/questions/30169090/zsh-behavior-on-enter) some little information:

[2017-05-03 11:58] desyncr commented on #151
Thanks for the link. Good info :+1:

[2017-05-09 01:15] #150 closed

[2017-05-09 09:33] tomspeak opened #154 "command not found: async_flush_jobs"
[code]

Any ideas? Just updated this morning via antibody, and after each command execution, this is printed.

[2017-05-09 09:40] frm commented on #154
I use antibody as well and I can reproduce this. It's due to `zsh-async` being a submodule and antibody not installing it by default.

While I check this, you can do
[code]

It should work afterwards.

Note that the `cd` path is only valid for macOS.

[2017-05-09 09:41] tomspeak commented on #154
Can confirm this works, for anyone else I had to go to this directory:

[code]

[2017-05-09 11:38] caarlos0 commented on #154
Hi, I'm the creator of Antibody.

As a workaround, maybe you can:

[code]

Then both bundle and update should work.

[2017-05-09 11:40] tomspeak commented on #154
Confirmed that this also works. Cheers @caarlos0

[2017-05-09 11:41] caarlos0 commented on #154
Just realized it may not work depending on how you're loading the async plugin inside geometry itself...

[2017-05-09 11:46] desyncr commented on #154
Sorry my bad. Didn't checked interop with Antibody. Should probably add a FAQ or a install entry.

@caarlos0 It just sources it at geometry's start up.

[2017-05-09 11:52] caarlos0 commented on #154
anyways, I'll make antibody support submodules by default :)

[2017-05-09 11:59] caarlos0 commented on #154
https://github.com/getantibody/antibody/pull/180

[2017-05-09 13:26] frm commented on #154
Thanks for the fast response @caarlos0!

[2017-05-10 21:22] caarlos0 commented on #154
antibody v3.1.0 is out and should fix this issue :)

[2017-05-10 22:24] frm commented on #154
Cheers, thanks!

[2017-05-10 22:24] #154 closed

[2017-05-11 15:59] samelwitt opened #155 "unpulled/unpushed status not showing"
Hi,

My git status is showing correctly except for unpushed/unpulled and conflicts_solved/unsolved, which don't display at all. Attached is a screenshot showing a fresh clone and local changes. OSX Sierra, default Terminal app.
![screenshot 2017-05-11 11 49 31](https://cloud.githubusercontent.com/assets/448666/25959344/5562e2b4-3641-11e7-9231-c71bf1402b9b.png)

thanks!

My .zshrc :

[code]

[2017-05-11 16:25] frm commented on #155
Can you try a couple of things?

Explicitly setting `GEOMETRY_PROMPT_PLUGINS=(git)` in your `.zshrc` and then closing and opening the terminal. If it doesn't work, what happens when you do `git push -u`?

[2017-05-11 16:39] mistercoffee66 commented on #155
That .zhrc edit didn't work. `git push -u` succeeds in pushing to the corresponding remote master.

[2017-05-11 16:43] desyncr commented on #155
Could you try to explicitly track remote branch?

    git branch --set-upstream-to=origin/master

[2017-05-11 16:59] mistercoffee66 commented on #155
Same behavior after that.

[2017-05-11 17:00] frm commented on #155
Can this be caused by conflicts with `oh-my-zsh`'s plugins? What happens when you comment out the line with `plugins=(git)`?

[2017-05-11 17:07] mistercoffee66 commented on #155
Yeah good thought, but no change after commenting that out and relaunching terminal.

[2017-05-11 17:08] mistercoffee66 commented on #155
Is it poss there's some variant in my local Git installation?

[2017-05-11 18:23] desyncr commented on #155
Using latest oh-my-zsh, geometry and git 2.7.4 seems to work as expected. Tested your configs in a VM, no issue.

[2017-05-11 18:27] mistercoffee66 commented on #155
Ok, I'll see if I can figure out what's different for me. Thanks for investigating!

[2017-05-11 18:27] #155 closed

[2017-05-15 02:22] desyncr opened #156 "Coordinate hangout on Gitter"
Let's coordinate a date and time to chat about the project on [gitter](https://gitter.im/geometry-zsh/Lobby).

Main topic is: Announcing releases on various zsh-related sites, etc. See https://github.com/fribmendes/geometry/pull/146#issuecomment-292571915

RSVP @jedahan @fribmendes

Time frame will be about 30-60 min. Everyone is welcome!

[2017-05-15 02:27] desyncr commented on #156
Next week I'm available around 16:00 hs UTC.

[2017-05-16 10:25] frm commented on #156
I'm on vacation this week. Next week is pretty much fine for me.

[2017-05-18 20:17] wodinga opened #157 "command not foud: async_job"
I keep getting
[code]

on every prompt. How should I fix this? I installed it manually.

[2017-05-18 22:29] desyncr commented on #157
Do:

    cd <geometry_path>
    git submodule update --init

[2017-05-19 18:54] desyncr commented on #156
We may schedule [`Tuesday May 23, 16:00 UTC`](https://time.is/compare/1600_23_May_2017_in_UTC)? @jedahan Are you joining?

Edit: Updated day

[2017-05-19 21:20] frm commented on #156
Perfect for me.

[2017-05-20 16:11] jedahan commented on #156
I'll be there!

[2017-05-20 16:23] desyncr commented on #156
Awesome. Gonna send reminders -somehow- later today.

[2017-05-20 19:38] frm commented on #156
@desyncr did you mean Tuesday 23rd or Thursday 25th?

[2017-05-20 19:41] desyncr commented on #156
Tuesday 23rd, my bad.

[2017-05-20 20:53] frm commented on #156
Just a PSA: everyone is free to jump in on the discussion/hangout :heart:

[2017-05-22 09:36] Threynaud opened #161 "Virtualenv not showing"
Hi,

First thank you you for this theme, I really love it!!

However I have a problem with the virtualenv plugin that doesn't seem to work at all for me.

I have added the plugin in my `.zshrc` before loading geometry:
[code]
Nothing is showing in my terminal when a virtualenv is activated:
[code]
Doing `export GEOMETRY_PROMPT_PLUGINS=(exec_time git jobs +virtualenv)` displays empty parenthesis wh

[2017-05-22 12:41] kevin940726 commented on #161
Maybe not related, but `exec_time` is also broken. Probably related to #160 as I'm pretty sure the problem is in `zsh-async` (I've been able to make it work by reverting it back to v1.0.0).

[2017-05-22 13:24] desyncr commented on #161
Related to https://github.com/fribmendes/geometry/pull/160

[2017-05-22 17:21] desyncr commented on #50
Forgot about this one. Compilation will not be implemented. Closing.

[2017-05-22 17:21] #50 closed

[2017-05-23 16:32] jedahan opened #162 "Help people update their references from frmendes to fribmendes"
https://github.com/search?langOverride=&q=frmendes%2Fgeometry&repo=&start_value=1&type=Code

shows 110 references.
Would be nice to find a bot or just make one, that checks if the latest version of that file exists, and creates a pull request to update it to fribmendes/geometry.

This could also be a kind of invitation for soliciting feedback, or a gentle intro to say hi.

[2017-05-23 16:36] frm commented on #162
We should also update the references along the repo.

[2017-05-23 17:00] wodinga commented on #157
I did it and I'm still getting

`/home/boop/.oh-my-zsh/themes/geometry-master/lib/async.zsh:source:1: no such file or directory: /home/boop/.oh-my-zsh/themes/geometry-master/lib/zsh-async/async.zsh
geometry_async_setup:1: command not found: async_init
geometry_async_setup:3: command not found: async_start_worker
geometry_async_setup:4: command not found: async_register_callback
-geometry-async-job

[2017-05-23 17:10] desyncr commented on #157
What's the output from `git submodule update --init`? Can you copy and paste it?

[2017-05-23 17:12] desyncr opened #163 "Add project's Trello link/badge"
Add either a link or a badge to our [Trello board](https://trello.com/b/GfM4e6Ro/geometry) in the `README.md`.

Should be a good task for a First Pull Request or for anyone who wants to contribute.

[2017-05-23 17:16] wodinga commented on #157
`▲ .oh-my-zsh/themes/geometry-master git submodule update --init

-geometry-async-job:1: command not found: async_flush_jobs
-geometry-async-job:2: command not found: async_job`

[2017-05-23 17:21] desyncr commented on #157
Alright, I think what the issue could be. Try pulling latest changes from geometry:

    git fetch --all
    git pull
    git submodule update --init

[2017-05-23 17:22] wodinga commented on #157
` ▲ .oh-my-zsh/themes/geometry-master git fetch --all
Fetching origin
-geometry-async-job:1: command not found: async_flush_jobs
-geometry-async-job:2: command not found: async_job

 ▲ .oh-my-zsh/themes/geometry-master git pull
Already up-to-date.
-geometry-async-job:1: command not found: async_flush_jobs
-geometry-async-job:2: command not found: async_job

 ▲ .oh-my-zsh/themes/geometry-master git

[2017-05-23 17:23] desyncr commented on #157
Do you open another shell and the issue persists? If so, could you try to re-install it?

[2017-05-23 17:34] wodinga commented on #157
Hm.... I'm not sure if I had cloned it, so that's why i don't think any git commands were working right. Seems to be working now!

[2017-05-23 17:34] #157 closed

[2017-05-23 17:39] desyncr commented on #157
:+1: Awesome! Thanks!

[2017-05-23 18:22] jedahan opened #164 "Geometry Logo Contest [Draft]"
Geometry deserves a logo!

Submit logo designs by replying to this issue, one comment per submission.

Vote on logos by reacting with 👍, all other reactions will be ignored.

We will be closed for submissions and votes on [April 24th, 00:00 UTC](https://time.is/compare/0000_24_Apr_2017_in_UTC).

If the top voted logo has 50% more votes than second place, we will use that.

Otherwise, @fribmendes,

[2017-05-23 18:23] jedahan commented on #164
I wrote this to start a discussion. We can decide when to really open it for submissions and how to announce it.

[2017-05-23 20:46] desyncr commented on #156
Hangout was a success! We discussed various topics and coordinated a bunch of work to do.

- Take a look at the hangout [wiki page](https://github.com/fribmendes/geometry/wiki/Gitter-hangout-23-05) where we put most of the hangout definitions and tasks
- You should take a look at our brand new [Trello board](https://trello.com/b/GfM4e6Ro/geometry)
- Or review the [chatlogs](https://gitter.im/geome

[2017-05-24 19:00] morrme commented on #163
Says "board not found" but it may be that I do not have access.

[2017-05-24 19:55] desyncr commented on #163
Sorry, it was configured to be "Team visible" made it public. @fribmendes

[2017-05-24 21:40] frm commented on #163
Ups, my bad.

[2017-05-26 13:32] desyncr commented on #161
@kevin940726 @Threynaud It should be solved in master.

Any feedback is welcome!

[2017-05-26 13:44] Threynaud commented on #161
Working great indeed, thanks a lot!

[2017-05-26 14:16] desyncr commented on #161
Awesome! Thanks for reporting.

Closing.

[2017-05-26 14:16] #161 closed

[2017-05-29 21:43] f-a-a opened #165 "Plugin Request: Vi-Mode"
Zshell has the ability to go into vi-mode with `bindkey -v` settings. If you are using `oh-my-zsh`, this feature can be enabled by including the [vi-mode](https://github.com/robbyrussell/oh-my-zsh/blob/master/plugins/vi-mode/vi-mode.plugin.zsh) plugin.

However, the interest with `geometry` is to port the visual indicator over.  [vi-mode](https://github.com/robbyrussell/oh-my-zsh/blob/master/plugi

[2017-05-30 03:36] desyncr commented on #165
This is a great opportunity to create a new built-in plugin or custom plugin for anyone interested in their first PR. As reference there is already a basic implementation in the gitter chatroom: https://gitter.im/geometry-zsh/Lobby?at=592a5c1bfcbbe1891c50bcad

Thanks @f-a-a for bringing this up.

[2017-05-30 12:43] desyncr commented on #163
ex:

![](https://img.shields.io/badge/Trello-board-blue.svg)

[2017-05-31 14:06] desyncr commented on #156
Closing this now.

[2017-05-31 14:06] #156 closed

[2017-06-05 10:15] frm commented on #156
I'd like to suggest a new hangout to discuss announcements on different channels. Say, Thursday, June 8, 16h00 UTC? 30-45min

Also, should we keep an ongoing issue to discuss the next hangout?

[2017-06-05 11:54] desyncr commented on #156
I'll open up a new issue.

[2017-06-05 12:29] desyncr opened #167 "Gitter hangout 2nd Edition"
Let's coordinate a date and time to chat about the project on gitter.

Main topic is: Announcements on different channels, etc. See https://github.com/fribmendes/geometry/issues/156#issuecomment-306153576

RSVP @jedahan @fribmendes

Proposed date and time: [Thursday, June 8, 16h00 UTC](https://time.is/compare/1600_8_June_2017_in_UTC)
Time frame will be about 30-45 min. Everyone is welcome!

[2017-06-05 12:50] frm commented on #167
Yes pls.

Also, can we update this issue for future hangouts? Or maybe propose on Trello.

[2017-06-05 13:29] desyncr commented on #167
You mean a template for hangout announces?

[2017-06-05 13:32] desyncr commented on #167
BTW I'm up for Thursday, June 8, 16h00 UTC.

[2017-06-05 13:55] frm commented on #167
I mean having an issue just to set up Gitter hangouts. Instead of creating one for each individual hangout. Although that might be less spammy if we use Trello.

[2017-06-05 14:10] desyncr commented on #167
Problem is no one will know except us. I like the issue-tracker approach as you can easily Watch or Unwatch the repo to see what's going on, including hangouts. Not sure you can follow a Trello board.

May be coordinate on the Trello board and announce on the github issue-tracker?

[2017-06-05 14:21] frm commented on #167
Sounds reasonable to me.

[2017-06-05 17:28] jedahan commented on #156
It boggles my mind that time.is doesn't have add to calendar links for popular calendar services

[2017-06-05 17:37] desyncr commented on #156
Trello does have a calendar integration (google calendar, ical AFAIK). Last time I checked I didn't found any community/open calendar service :/

[2017-06-06 11:11] hs256 commented on #148
@desyncr ..I will like to work on this and this will be my first contribution in open-source.

[2017-06-06 11:12] frm commented on #148
Great! If you need any help, let us know!

[2017-06-06 12:43] desyncr commented on #148
@harshaiitr Awesome!

There are [plenty](https://github.com/search?q=CONTRIBUTING.md&ref=opensearch) of CONTRIBUTING.md documents out there to checkout and take ideas from.

Remember to create a PR with your changes as soon as you start to work, so we can work together.
Any help you need where are here or in [gitter](https://gitter.im/geometry-zsh/Lobby).

[2017-06-08 19:39] desyncr commented on #167
Another good Hangout!

We coordinated a bunch of work to do for our next announcement.

- Take a look at the hangout [wiki page](https://github.com/fribmendes/geometry/wiki/Gitter-hangout-2017-06-08)
- You should take a look at our brand new [Trello board](https://trello.com/b/GfM4e6Ro/geometry)
- Or review the [chatlogs](https://gitter.im/geometry-zsh/Lobby?at=5939739e142826e97296ca9b)

Thanks al

[2017-06-13 13:52] desyncr commented on #167
Closing this now!

[2017-06-13 13:52] #167 closed

[2017-06-13 13:55] desyncr commented on #148
@harshaiitr Do you need any help? Let me know how it's going :)

[2017-06-15 02:59] desyncr opened #168 "Create feature screencasts: git prompts"
As per: https://trello.com/c/Z6rm05JG/10-create-feature-screencasts

- [x] Display basic git prompt (branch, days since commit, repo clean/dirty)
- [ ] Display git conflicts

## Optional

- [ ] Long and short time format
- [x] 'No commits' message
- [x] Unpulled/unpushed

[2017-06-15 03:02] desyncr opened #169 "Create feature screencasts: exec time / exit status / background jobs"
As per: https://trello.com/c/Z6rm05JG/10-create-feature-screencasts

- [ ] Display execution time command
- [ ] Diplay exit status symbol
- [ ] Display background job symbol/count

[2017-06-21 13:16] frm commented on #162
Can I take this?

If we are changing to an org, might as well do it all together.

I'm thinking of scripting something to comment on files of users with `frmendes/geometry` on GitHub but that might be over-engineering this. Any other ideas?

[2017-06-21 13:29] desyncr commented on #162
It depends on how many repos we want to address. Less than 100 can be manually. Any number greater  than that would require to automate it (see https://developer.github.com/v3/issues/#create-an-issue).

I think addressing all appearances will be optimal. Github gem is not too complex anyways.

[2017-07-01 00:55] jedahan commented on #169
Just a note, working on this over the weekend :)

[2017-07-01 00:55] jedahan commented on #168
Heads up, expect v1 this weekend

[2017-07-01 23:00] desyncr commented on #163
Fixed with #173

[2017-07-01 23:00] #163 closed

[2017-07-08 16:53] jedahan commented on #168
v1 is here! [![asciicast](https://asciinema.org/a/8fNQ2Knqw2LXD9O649x9sw7EN.png)](https://asciinema.org/a/8fNQ2Knqw2LXD9O649x9sw7EN)

[2017-07-08 16:59] jedahan commented on #168
OK so this is more like alpha. 5s is too short. Want to reduce the total time to under 30s

## improvements for beta
- remove the nonzero exit code stuff
- remove the incorrect git commit then git add
- combine the "mkdir screencast && cd $_"
- set the upstream so we see the conflict arrows asap

[2017-07-08 19:38] desyncr commented on #168
Nice work! Set up and speed is good. I agree regarding removing incorrect commands.

Keep up the good work!

[2017-07-09 17:43] frm commented on #168
I really like the inline explanations ❤️

Agree with the improvements. I wonder if we can add a `git rebase origin/master` the rebase in progress symbol. Or even the conflict count. Or is that too much for a single screencast?

[2017-07-09 18:25] jedahan commented on #168
So new 'script', which will be about 60s long
[code]

[2017-08-06 17:55] jedahan commented on #168
Second version, much shorter

[![asciicast](https://asciinema.org/a/FNwUhhcHJzdMIUb2D1otBowcz.png)](https://asciinema.org/a/FNwUhhcHJzdMIUb2D1otBowcz)

[2017-08-06 19:00] jedahan commented on #168
![geometry-git](https://user-images.githubusercontent.com/32407/29006139-f93d2dc6-7ab7-11e7-9b34-a16ea909a1fd.gif)

gif version that can just be embedded :)

[2017-08-06 19:39] desyncr commented on #168
Looking really good to me.

We'll have to do a bit of a recap as we've lost track of progress. @jedahan @fribmendes

[2017-08-06 22:14] jedahan commented on #168
hmm looks like the cool icons didnt render in the gif :/

[2017-08-07 09:59] frm commented on #168
Looks good!

Yeah, we should do a recap and regroup. Should we schedule a new gitter hangout?

[2017-08-07 13:32] desyncr commented on #168
@fribmendes I'm up for it. Just set up a date and I'll be there.

[2017-08-07 15:01] frm commented on #168
Is it possible this week for you guys? Let's say Wednesday 2.30PM BST?

[2017-08-07 15:07] desyncr commented on #168
For me OK.

[2017-08-08 05:01] jedahan commented on #168
works fine for me

[2017-08-08 09:52] fribmendes opened #174 "Gitter Hangout - 3rd edition"
New hangout! Join us on Gitter.

[![Gitter](https://badges.gitter.im/Join%20Chat.svg)](https://gitter.im/geometry-zsh/Lobby)

**Main topic:** regrouping and announcing geometry.

**Other suggested topics:**

* Project roadmap
* Issue review

**Time and date:** [Wednesday, August 9, 14h30 BST](https://time.is/compare/1430_9_August_2017_in_BST)

Everyone is welcome to join! It would be a great time

[2017-08-09 15:20] frm commented on #174
Hangout done! We also have a new org now 🎉  🎉  🎉

You can review the topics in the [hangout page](https://github.com/geometry-zsh/geometry/wiki/Gitter-hangout-2017-08-09).

[2017-08-09 15:20] #174 closed

[2017-08-09 15:24] fribmendes opened #176 "Reconsider gitter"
As mentioned during the gitter hangout, I'm questioning if we should continue to use gitter or move to a new platform.

Gitter is a great entry point for users and contributors, but we're barely there idling. So if a new user or contributor comes up, we won't notice it.

After speaking with @desyncr about it, there are two good options. Slack or IRC.

Slack requires registering and is a lot more b

[2017-08-09 15:26] frm commented on #164
I temporarily added a very simple logo to the organization, but if any suggestions come along we're up for it 😄

[2017-08-09 17:39] jedahan commented on #176
I love irc, but these days am more active on slack.
Downside of slack is we would probably want to make a slackin instance so people can just put in their email and get invited.
Sucks that I missed the meeting yesterday, which definitely is a side effect of my lack of idling on gitter.
And sucks that gitter.im isn't working out as well, as it seems to solve these features well. I think the tab get

[2017-08-09 17:55] frm commented on #176
I also use Slack more, but the fact that it's so bloated and a pain to add users, makes me a bit sceptical regarding using it for this.

I use a gitter client but it's no use, tbh. It doesn't have as much active users and it's much of a pain to iddle in. I need to have the gitter client running at all times, instead of using a bouncer on a server and being occasionally notified like on IRC. That's

[2017-08-10 14:18] frm commented on #176
@desyncr what's your take on this?

[2017-08-10 14:22] desyncr commented on #176
I'm up for IRC. Slack is team-centric rather than an open channel for anyone to jump in.

IRC+WebIRC would be a good alternative to gitter.

[2017-08-11 08:27] frm commented on #176
I'm willing to idle on IRC for a while, for now. And see how it goes. Is everyone ok with freenode?

[2017-08-26 01:36] shridharmanvi commented on #148
Here is a [PR](https://github.com/geometry-zsh/geometry/pull/178) for this one.

[2017-09-11 19:51] mustaqimmalim opened #179 "Have to source zshrc to use some environment variables"
This has bugged me for a while. I have to run `source .zshrc` to get the `PROMPT_GEOMETRY_COLORIZE_ROOT` to show correctly.

[2017-09-11 20:07] frm commented on #179
Are you setting the variable before sourcing geometry?

[2017-09-12 04:08] mustaqimmalim commented on #179
At last I found out why, I had to change permissions to `~/.zplug` and now it works correctly. Sorry for the bother.

[2017-09-12 04:08] #179 closed

[2017-10-07 06:48] wyudong opened #180 "How to change terminal's title bar color to dark"
I can't find any way to change the terminal's title bar color to dark, just shown in the screenshot. Is that also possible for Mac's default terminal?

<img width="795" alt="2017-10-07 14 41 56" src="https://user-images.githubusercontent.com/5687273/31305514-0e8cd61c-ab01-11e7-87c7-89c69ab3616c.png">

[2017-10-07 09:59] frm commented on #180
That's iTerm 2 dark theme. I'm not familiar with Terminal.app's settings, to be honest, but I don't think you can.

[2017-10-07 09:59] #180 closed

[2017-10-19 22:02] fribmendes opened #182 "Hangout - 4th Edition"
So, this was kind of stalled for a while. Personally, I got caught up with a lot of work and ended up halfway into a burn out.

I'm proposing a new hangout. Not on Gitter but on IRC. I'll create an appropriate channel and post it here.

Topics:

* Marketing
* Subtheming (as marketing)
* Project complexity
* Issue review
* Trello review

**Date:** Thursday, Oct 26, 2 PM GMT.

Please RSVP @desyncr @

[2017-10-24 14:43] jedahan commented on #182
I can do 9am EST oct 26th

[2017-10-25 08:28] frm commented on #182
Sounds good to me. That's 1PM GMT for anyone else.

[2017-10-25 08:32] frm commented on #176
#geometry-zsh on freenode is now available! 🎉

[2017-10-25 08:33] #176 closed

[2017-10-25 08:33] frm commented on #182
PSA: This will happen on the #geometry-zsh channel on freenode.

[2017-10-26 16:56] jedahan commented on #182
gah, I slept in :(

[2017-10-26 19:11] frm commented on #182
@jedahan no worries, would you like to suggest a new date and time?

[2017-11-14 23:27] frm commented on #3
@steinybot thanks, I'll look into it tomorrow morning!

[2017-11-15 01:11] designMoreWeb opened #183 "Adding Node and Exec Time to the terminal"
I am still confused how to add the node and exec_time plugins to the terminal so it displays them.

[2017-11-15 08:54] frm commented on #183
You can simply add `GEOMETRY_PROMPT_PLUGINS=(node exec_time)` to your `.zshrc` before sourcing geometry.

Note that this will override the set of default plugins (`exec_time`, `git`, `hg`, `jobs`). You can add the ones you like through that variable (e.g. `GEOMETRY_PROMPT_PLUGINS=(node exec_time git)`)

[2017-11-15 18:37] designMoreWeb commented on #183
i added that but its still not showing in the terminal

 #Set name of the theme to load.
 export PATH="/Users/Divster/anaconda/bin:$PATH"
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.

GEOMETRY_PROMPT_PLUGINS=(node exec_time git)

#ZSH_THEME="obraun"
#ZSH_THEME="cobalt2"
#ZSH_THEME="agnoster" # (this is one

[2017-11-15 22:26] frm commented on #183
Can you try with `export` before the variable?

[2017-11-16 23:27] designMoreWeb commented on #183
i put export before GEOMETRY_PROMPT_PLUGINS=(node exec_time git) it doesnt work though

[2017-11-17 01:01] desyncr commented on #183
Try with `geometry_plugin_list` to check if the plugin is registered.
Example output:

[code]

Remember `node` plugin only shows when you're in a node/yarn project. See [here](https://github.com/geometry-zsh/geometry/tree/master/plugins/node).

[2017-11-19 18:00] designMoreWeb commented on #183
<img width="257" alt="screen shot 2017-11-19 at 12 59 31 pm" src="https://user-images.githubusercontent.com/5986856/32993675-83913328-cd29-11e7-90d5-0b4ce918d7ac.png">

it says its there but it doesn't display it which is confusing

[2017-11-19 21:09] jedahan commented on #183
exec_time has a minimum time before it displays, try something like `sleep 31 && echo 'do we see it? ->'`

[2017-11-20 18:22] designMoreWeb commented on #183
that runs i want to see the node version which is not working

[2017-11-20 18:49] desyncr commented on #183
Are you inside a node project? This plugin check for `package.json` or `yarn.lock` in order to display the node/npm/yarn versions.

[2017-11-20 19:16] desyncr commented on #183
@designMoreWeb Also you could try with the following configuration:

[code]

The `+` prefix makes a plugin fixed (ie, it always shows up).

[2017-11-20 23:09] designMoreWeb commented on #183
@desyncr let me try that out hopefully it works

[2017-11-20 23:23] designMoreWeb commented on #183
Okay the good news is i got it working now it shows up as a transparent symbol (node symbol) how do i get it to be a green filled up symbol?

[2017-11-20 23:35] desyncr commented on #183
Take a look at the readme. There's a color configuration variable. https://github.com/geometry-zsh/geometry/blob/master/plugins/node/README.md

[2017-11-21 00:47] designMoreWeb commented on #183
Should you put that configuration variable in the .zshrc file or it would be somewhere else? Also where do i get a filled up node symbol from the one in the readme is "⬡" which is empty

So quick update i put the GEOMETRY_COLOR_NODE_NPM_VERSION ="green" in my .zshrc file and i am getting this error when i refresh the terminal.

<img width="860" alt="screen shot 2017-11-20 at 7 55 02 pm" src="https

[2017-11-21 01:03] designMoreWeb commented on #183
NVM i figured it all out thanks a lot :)

[2017-11-21 01:03] #183 closed

[2017-11-21 01:19] desyncr commented on #183
Which configuration worked out?

[2017-11-21 18:16] designMoreWeb commented on #183
export GEOMETRY_PROMPT_PLUGINS=(+node virtualenv exec_time git hg)

[2017-11-25 02:12] desyncr opened #187 "Ship colorize symbol enabled by default"
I was moving between SSH session and local paths (both with geometry theme) and I found quite hard to recognize which one was SSH and which one wasn't. I think it'll be a good idea to ship with colorize symbol enabled by default.

Opinions?

[2017-11-25 16:36] jedahan commented on #187
Sometimes colorize symbol picks the same color (if hostname hashes to the same thing). Before we have people rely on it, I'd like it to be more robust.

Maybe having the plugin keep track of all hostnames, and if its a new one, picking a new color that way.

Not sure how to sync it though. Perhaps making a separate ssh plugin?

[2017-11-25 16:42] desyncr commented on #187
@jedahan Well, I have also thinking about a `hostname` plugin (See [here](https://github.com/geometry-zsh/geometry/pull/188)).

Regarding color I believe it was mentioned it before. Not sure how to solve it honestly.

[2017-11-25 17:58] jedahan commented on #187
If we are ok with getting wan ip address, we can use that to colorize. Then we can check the client ip address in `SSH_CONNECTION`, and if it hashes to the same color, we nonce up one.

Real hacky, but might work. Tricky part is when not ssh'd, and that local ip address changes a bunch so you can't make a color map in your head that stays consistent.

[2017-11-27 10:01] frm commented on #182
Everyone seems to be back on board, can we go with [2PM GMT](https://time.is/1400_29_Nov_2017_in_GMT/EST)? It's 9AM EST if you are still in that timezone @jedahan 😄

RSVP @jedahan @desyncr

[2017-11-27 11:23] desyncr commented on #182
I'm up for it.

[2017-11-27 17:20] jedahan commented on #182
I'm actually in Berlin now, so that is 3pm here, I can make that!

[2017-11-28 05:46] lox commented on #3
I have the same config as @steinybot, I also see this with an asych RPROMPT. When the prompt renders, it messes up alignment of the LPROMPT if there is emoji in there.

[2017-11-28 10:30] frm commented on #182
On this topic: https://github.com/blog/2471-introducing-team-discussions

I suggest we try it.

[2017-11-29 15:02] jedahan commented on #187
Simplified version:
local is colorhash
remote is yellow (is `SSH_CLIENT` defined?)
root is red (local and remote)

This is good enough to ship

[2017-11-29 15:05] jedahan commented on #187
we might want 2 plugins, or just a flag for one plugin

it should also check if colors are enabled

[2017-11-29 15:08] frm commented on #148
Closed by #178

[2017-11-29 15:08] #148 closed

[2017-11-29 15:09] frm commented on #136
I don't think this is happening anytime soon 😞

[2017-11-29 15:09] #136 closed

[2017-11-29 15:10] frm commented on #162
This is on geometry-zsh now. GitHub redirects everything. I can simply add two repos in my accounts that sync with this one but print out a deprecation warning, if that's ok with you guys.

[2017-11-29 15:11] frm commented on #168
Final version: ![](https://user-images.githubusercontent.com/32407/29006139-f93d2dc6-7ab7-11e7-9b34-a16ea909a1fd.gif)

Cheers to @jedahan!

[2017-11-29 15:11] #168 closed

[2017-11-29 15:11] frm commented on #169
Final version: ![](https://user-images.githubusercontent.com/32407/29006139-f93d2dc6-7ab7-11e7-9b34-a16ea909a1fd.gif)

Cheers to @jedahan!

[2017-11-29 15:11] #169 closed

[2017-11-29 15:12] frm commented on #182
Do we agree on using team discussions and not the issues? 😄

[2017-11-29 15:35] desyncr commented on #182
Yes, indeed.

[2017-11-29 15:37] desyncr commented on #162
Seems overkill to me. I'd rather just stay with github redirects.

[2017-11-29 15:58] frm commented on #162
Closing it then.

[2017-11-29 15:58] #162 closed

[2017-11-29 15:58] #182 closed

[2017-12-06 18:15] boldhaus opened #189 "geometry_plugin_setup:2: bad pattern: _ctx_plugins=(path"
Hi,

when using the newest version of geometry with support for left-prompt customization in the following environment

[code]
[code]
[code]
[code]

and this .zshrc

[code]

I get this error when opening a shell

[code]

When I call `zplug load --verbose` this is the output

[code]

Calling `geometry_plugin_setup` shows

[code]

Calling `geometry_plugin_list` shows

[code]

Thank you for looking i

[2017-12-06 18:45] desyncr commented on #189
Yep, it's an issue with zsh 5.0.x. I'll take a look later tonight (IIRC it needs `typeset -a` or to move `local` outside the `for` loop).

[2017-12-07 03:47] desyncr commented on #189
Should be fixed now on `master`.

[2017-12-07 03:47] #189 closed

[2017-12-08 11:11] jedahan opened #191 "pinning broken?"
don't have time to look into this now, but will in a few days. looks like

`Error: '+rustup' plugin not available.

[2017-12-08 23:13] desyncr commented on #191
Should be fixed on #192

[2017-12-09 16:56] #191 closed

[2017-12-29 22:02] goliatone commented on #3
I'm having the same issue, removing the `docker_machine` plugin then it seems to work ok. Also, updating the value of `GEOMETRY_SYMBOL_DOCKER_MACHINE` to something else works

[2018-01-08 16:39] desyncr opened #195 "Create sub-theming examples"
This should be put up in a repo under geometry-zsh org. The idea is to have a customization-show off section for the upcoming release.

Also see this Trello card https://trello.com/c/RFZ7wUbW/19-subtheming-add-a-section-on-the-readme-mentioning-it

[2018-01-09 18:58] desyncr opened #196 "Change node plugin default color"
Plugin symbol's color currently is [black](https://github.com/geometry-zsh/geometry/blob/master/plugins/node/plugin.zsh#L2), which is kind of hard to see. I suggest we change the default to green instead.

Current (black):

![screen shot 2018-01-09 at 3 55 55 pm](https://user-images.githubusercontent.com/1857707/34737705-a6e591c6-f555-11e7-9ca4-e8c041f4d214.png)

Suggested (green):

![screen shot

[2018-01-09 19:11] desyncr opened #197 "Change custom plugins examples and guidelines"
Current documentation suggests for plugins to [self register](https://github.com/geometry-zsh/geometry/blob/master/plugins/README.md#full-working-example). Back then it was a good idea as it loaded plugins configuration-free.

Current implementation (right and left prompt pluggable) enables further customization and it makes sense to be able to tell the plugins to either load at the right or left

[2018-01-09 19:26] desyncr commented on #197
Actually there's a little fix needed for custom-plugins to be able to be configured by context.

[2018-01-29 10:29] ev-agelos opened #199 "Git stash indication ?"
I am not sure if it is easy to be shown but would be useful if we could see an indication of stashes we have made in a repo.(a number of stashes or nothing to be shown maybe?)

My use case is that many times i forget that I have stashed something and I continue committing.

[2018-01-29 15:15] jedahan commented on #199
I'd be open to a pull request that defines the following:

[code]

Adds to `geometry_prompt_git_render()`:
[code]

And modifies `render+=` to include `${stashes}`

[2018-01-29 15:17] jedahan commented on #199
Let me know if you'd like to take a stab at it, I'm kinda busy this week but can at least review test and merge a patch. We need to define a default symbol and color as well.

[2018-01-29 15:18] jedahan commented on #199
Also there has to be a faster way to get if stashes exist or not

[2018-01-29 15:21] ev-agelos commented on #199
Ill give it a shot in the weekend even though I am not expert on shell scripting!

[2018-01-29 15:32] jedahan commented on #199
awesome!

`git rev-parse --quiet --verify refs/stash` seems to be the simplest command to find out if a stash exists

[2018-01-30 21:58] ev-agelos commented on #199
Wasn't so difficult as I thought! Nice documentation with steps on how to do a plugin!
I created this: https://github.com/ev-agelos/geometry-git-stashes
I am confused a bit about how to make the PR. I see that the plugins live in their own repos and user explicitly includes them in their zshrc.
(Also i don't have permissions to update the wiki)

Edit: I think I shouldn't have made it a plugin :S I

[2018-01-30 22:48] jedahan opened #200 "Make wiki world-editable"
Can you make the wiki world-editable so contributors can update things like in #199 ?

[2018-01-31 10:12] frm commented on #200
Done!

[2018-01-31 10:12] #200 closed

[2018-01-31 10:12] frm commented on #199
You can now edit the wiki 😄 See #200

[2018-02-20 07:59] Lucassith opened #202 "IntelliJ terminal glitches geometry theme."
I wasn't sure if it is even an issue with the theme itself but I need to do some understanding before I open the ticket on IntelliJ site. So basically the problem is that when there are too many icons on the right side of the terminal (git info) then the IDE's terminal will render new line.
![image](https://user-images.githubusercontent.com/7236601/36412461-b3c6d108-161a-11e8-8988-07f237ed0afb.png

[2018-02-20 14:51] frm commented on #202
Does this happen with other themes that have a right side prompt?

[2018-02-25 10:15] lucassith commented on #202
Yes it does happen with other themes. I have opened a ticket on IntelliJ product and it seems that they are aware of this bug. https://youtrack.jetbrains.com/issue/IDEA-184513

[2018-02-25 10:15] #202 closed

[2018-02-28 10:08] frm commented on #199
Closed by #201

[2018-02-28 10:08] #199 closed

[2018-02-28 10:12] fribmendes opened #204 "Shell startup prompt symbol"
I just need to double check if this happens with anyone else or if it is a faulty configuration of mine. Using the current `master` version of geometry, when starting up the prompt symbol uses the error exit prompt. Example:

<img width="650" alt="screen shot 2018-02-28 at 10 09 56" src="https://user-images.githubusercontent.com/4325027/36782086-b1803c76-1c6f-11e8-8c48-001a0496426e.png">

However,

[2018-02-28 10:13] frm commented on #197
@desyncr can we label this as a nice first PR for people?

[2018-02-28 10:14] frm commented on #3
@goliatone @lox is any of you running High Sierra?

[2018-02-28 10:14] frm commented on #196
@desyncr can we label this as an easy first PR?

[2018-02-28 10:16] frm commented on #60
Can we have an update on this? Using the latest geometry version I have no lag issues on smaller repos (which were a problem as well) and my shell start time is at around ~0.15s

[2018-02-28 11:31] lox commented on #3
Yup, sure am!

[2018-02-28 16:03] goliatone commented on #3
Yes

[2018-03-01 18:48] jedahan commented on #3
So with inconsolata for powerline, that symbol seems to be 'double wide' I know almost nothing about unicode and font rendering, but thought I would share in case it would help someone who knows more.

[2018-03-01 18:51] jedahan commented on #60
I tried this on the openframeworks/openFrameworks respository, which has about 16,000 commits over 6+ years, with master checkout taking up 3.7G. Holding down enter did not slow anything down any more than any other non-git repository.

[2018-03-01 18:52] frm commented on #60
I'd say this is a win for our async implementation :heart:

[2018-03-17 18:23] jedahan commented on #197
Is there any case that someone would want to source a geometry plugin and it not be present in secondary prompt?

I would rather have us auto-put in secondary prompt, *UNLESS* it is defined to be in primary prompt by user.

So default configureless, but if you configure it overrides.

[2018-03-17 18:28] jedahan commented on #204
I'm not able to reproduce, but I have a pretty custom .zshrc so i'm gonna try a minimal one

[2018-03-17 18:29] frm commented on #197
Is there a way for this to happen though? You have to explicitly set it to the secondary or primary variable, right?

[2018-03-17 18:32] jedahan commented on #204
I tried with a .zshrc of just `source ~/.zr/plugins/geometry-zsh/geometry/geometry.zsh` and things looked fine to me

[2018-03-17 18:35] jedahan commented on #197
we check in register function if plugin is currently in PRIMARY. if it is, we do nothing. if its not, we register to SECONDARY

i havent looked at the code in a while though, so i might be missing something obvious

[2018-03-17 19:18] #196 closed

[2018-03-17 19:19] jedahan commented on #187
@desyncr can we ship enabled by default now that we have hostname plugin?

[2018-03-20 22:47] tp00012x opened #207 "Going to next line bug"
For some reason, I'm having this issue where the word 'producthunt' which is my conda enrionment's name is going to the next line.

<img width="1264" alt="screen shot 2018-03-20 at 5 45 47 pm" src="https://user-images.githubusercontent.com/24213795/37686737-ae971b86-2c66-11e8-9b6f-b67dd32282ba.png">

[2018-04-07 07:53] primalmotion commented on #3
Hi,

not sure if it's the exact same issue, but mine is doing some weird stuff too

![apr-07-2018 00-51-46](https://user-images.githubusercontent.com/208711/38452690-e1df93d4-39fd-11e8-8fac-3e8451f0ffce.gif)

High Sierra, iTerm 3.1.5, Roboto Mono as font

I also tried to do this
[code]

And it does the same thing

[2018-04-08 02:10] designMoreWeb opened #208 "Just a question"
Hey This is not an issue but I really liked the color scheme you guys had on the repo. Could you tell me how you made that and if you could share the settings for it that would be great.

[2018-04-08 03:51] jedahan commented on #208
The first gif shows uses [new moon](https://github.com/taniarascia/new-moon/), not sure what themes @desyncr and @fribmendes use

[2018-04-08 05:31] designMoreWeb commented on #208
@jedahan how do you apply that theme to the geometry theme/terminal?

[2018-04-08 13:58] frm commented on #208
Most of the older screenshots I put in the repo were using [base-16](https://github.com/chriskempson/base16-shell), although I have been using a variation of [hybrid](https://github.com/w0ng/vim-hybrid) for iTerm.

[2018-04-10 18:40] jedahan commented on #208
I manually set the colors in [alacritty](https://github.com/jwilm/alacritty/) in my [alacritty config](https://github.com/jedahan/dotfiles/blob/master/.config/alacritty/alacritty.yml#L84-L108).

[2018-04-10 19:37] designMoreWeb commented on #208
@jedahan what is alacritty?
Never heard of it
I have been using [https://hyper.is/](url) as my terminal for a good 3 years now

[2018-04-10 19:58] jedahan commented on #208
Its the terminal I linked - its a minimal terminal written in rust that uses the gpu to draw. I played around with hyper.is, which is nice too.

[2018-04-10 20:32] designMoreWeb commented on #208
is there any benefit of alacritty over traditional terminals? does it offer something more like what tmux and a few other terminal programs offer?

[2018-04-10 20:36] jedahan commented on #208
Technically, the main reason I use it is because its faster. Socially, I like the decision making and active development. Sounds silly "my terminal is plenty fast" but I noticed it. If you want to play around with a new terminal try it out. If you are looking for a replacement for hyper, well it ain't close to as full featured, at least not until the scrollback branch is released.

[2018-04-11 10:03] frm commented on #208
I switched to alacritty last month or so. I've been very happy ever since. Scrolling on nvim + tmux was shaky in iTerm, but amazing in alacritty.

[2018-04-27 05:55] mustaqimM opened #209 "Possibility of a Fish Shell port"

[2018-04-27 08:41] frm commented on #209
I'd be up for that, I've been considering switching to fish for a while now. What are your thoughts @desyncr @jedahan ?

[2018-04-27 15:52] jedahan commented on #209
I used fish a couple of years ago. Our codebase isn't that big, but a big part of it being nice are the plugins. I'd be up for seeing a fish shell port but wonder if there's a good way to have plugins not need to be completely rewritten

[2018-04-27 15:52] jedahan commented on #209
Or rather to write plugins that work with both

[2018-05-09 02:02] SNBSniper opened #210 "Git plugin not working"
I cant seem to get the git plugin to work, it seems to work randomly
Any tips?

![deepinscreenshot_select-area_20180508230147](https://user-images.githubusercontent.com/1237182/39791798-e432410c-5313-11e8-8752-99eae78a1775.png)

[2018-05-09 09:16] frm commented on #210
What's your OS, version and zsh version?

[2018-05-09 13:53] danielftapiar commented on #210
Running  Deepin  OS 15.5 (Debian  Based)
zsh 5.3.1 (x86_64-debian-linux-gnu)

[2018-05-09 18:45] jedahan commented on #210
Can you post the most minimal zshrc that reproduces this behaviour?

[2018-05-09 18:52] danielftapiar commented on #210
export ZSH=$HOME/.oh-my-zsh
PROMPT_GEOMETRY_COLORIZE_ROOT=true
PROMPT_GEOMETRY_EXEC_TIME=true
PROMPT_GEOMETRY_COLORIZE_SYMBOL=true
GEOMETRY_SYMBOL_EXIT_VALUE="⚠️ "
GEOMETRY_COLOR_DIR="blue"
GEOMETRY_PROMPT_SUFFIX=" → "
GEOMETRY_SYMBOL_GIT_CLEAN="✔︎"
GEOMETRY_SYMBOL_GIT_DIRTY="⚡️"
GEOMETRY_SYMBOL_GIT_UNPULLED="↓"
GEOMETRY_SYMBOL_GIT_UNPUSHED="↑"
GEOMETRY_SYMBOL_GIT_CONFLICTS_SOLVED="💚"
GEOMETRY_SYM

[2018-05-09 19:09] jedahan commented on #210
Sorry I was not clear, can you post the smallest zshrc that still loads the theme and shows this error?
For example, this **~/.zshrc-issue-210-snbsniper** just loads the theme and nothing else

[code]

You can test it with
[code]

I bet what is happening is that oh-my-zsh has its own git plugins that are conflicting with ours.

[2018-05-09 19:15] jedahan commented on #210
Also from a cursory [search of `ZSH_THEME="geometry/geometry"`](https://github.com/search?q=ZSH_THEME%3D%22geometry%2Fgeometry%22&type=Code) saw a decent number of people using the theme, maybe one of @csmets, @ryosukeminami, @HCastano, @oscarorti, or @apdaros could comment on if they get the same error, and if so, how we can help fix it.

[2018-05-09 19:15] jedahan commented on #210
Specifically, https://github.com/apdaros/dotfiles/blob/master/.zshrc looks promising as a minimal working example

[2018-05-09 20:18] HCastano commented on #210
I haven't had an issue with the Git plugin.

ZSH: zsh 5.2 (x86_64-apple-darwin16.0)
I'm running Geometry at commit: ce55adfc3

[2018-05-09 20:38] frm commented on #210
I can reproduce this when using [pass](https://www.passwordstore.org/) in a git repo. I don't use oh-my-zsh. But it can also be conflicts with that.

[2018-05-09 21:22] apdaros commented on #210
Also works fine for me, but I'm at `c4e0ed60` which is pretty old

![screen shot 2018-05-09 at 18 18 12](https://user-images.githubusercontent.com/6866022/39840324-704461a6-53b5-11e8-845a-50e4ac86fb21.png)

[2018-05-16 12:52] lyneca commented on #204
Same issue. `$?` was `0` because of previous calls to echo overwriting `$?` with their return values. I fixed the issue by setting a variable `EXIT_VALUE=$?` at the start of `geometry_plugin_render()`, and using this variable throughout the rest of the path plugin.

[2018-05-16 14:14] jedahan commented on #204
I wonder if this behaviour is documented by zsh
And we definitely don't want to mangle $? So maybe we restore af the end?

[2018-05-17 14:35] chrisjlee opened #211 "License?"
Don't see a license file. Is it MIT?

If so i can provide a PR.

[2018-05-31 04:40] GlennRaganas opened #213 "Error: Could not load zsh-async library."
Followed installation instruction but i keep getting this error after "source ~/.zshrc"
I'm not sure i did anything wrong? Any tips?

[2018-05-31 05:36] GlennRaganas commented on #213
Nevermind! cloning the repo into custom/themes rather than dragging and dropping seemed to have fixed the issue.

[2018-05-31 05:36] #213 closed

[2018-06-09 11:03] vinhpz opened #214 "Issue with syntax highlighter in a version controled directory"
Hello, I found some issues with syntax highlighter in a version controled directory with Geometry theme.

When you type something in a version controled directory with syntax highlighter is on, and then move the cursor back to the part where there is the command is highlighted, it would show something like this.
![image](https://user-images.githubusercontent.com/17877082/41190805-55cb0cfe-6c0f-11e

[2018-06-09 17:29] jedahan commented on #214
Which syntax highlighter are you using? I am having trouble reproducing this issue on maxOS 10.14.3 in iTerm2 and Alacritty, using https://github.com/zsh-users/zsh-autosuggestions.

Can you share the most minimal zshrc that can reproduce this issue?

[2018-06-10 04:50] vinhphamuit commented on #214
I'm using Prezto's syntax highlighting module (https://github.com/sorin-ionescu/prezto/tree/master/modules/syntax-highlighting) which using https://github.com/zsh-users/zsh-syntax-highlighting

This is my current zshrc
![image](https://user-images.githubusercontent.com/17877082/41198418-719f96d4-6ca5-11e8-8470-0377a136bc35.png)

[2018-06-10 04:58] jedahan commented on #214
Can you try these two things?
1. Update the prezto syntax-highlighting submodule to the latest version
2. Try using https://github.com/zdharma/fast-syntax-highlighting ?

I want to try and find where the conflict is.

[2018-06-10 07:39] vinhphamuit commented on #214
1. Update prezto syntax-highlighting submodule to the latest version doen't help.
2. Using fast-syntax-highlighting does help and doen't the same issue like above :)

[2018-06-10 15:28] jedahan commented on #214
Are you happy using zdharma/fast-syntax-highlighting ? Maybe we can open an issue on zsh-users/zsh-synax-highlighting and see if we can fix things there? Maybe it relates to https://github.com/zsh-users/zsh-syntax-highlighting/pull/470 or https://github.com/zsh-users/zsh-syntax-highlighting/pull/160 ...

[2018-06-10 16:26] vinhphamuit commented on #214
Maybe I will use fast-syntax-highlighting for a while.

[2018-06-27 12:39] nath1as commented on #3
Hi,
I'm on termite and get this issue when trying to set my symbols bold with ```\e[1m``` . Is there any way around the issue?

[2018-06-27 17:39] frm commented on #211
Good point. I'd rather have it be MIT. @jedahan @desyncr any thoughts?

[2018-06-27 17:40] #208 closed

[2018-06-27 17:42] jedahan commented on #211
I like ISC, which is a simplified MIT, but am fine with whatever

[2018-06-27 18:15] frm commented on #214
@jedahan any idea what this might be?

[2018-06-27 18:16] frm commented on #207
Can you post your configs?

[2018-06-27 18:18] frm commented on #210
I haven't been able to reproduce for a while now. Turns out on my end it was an issue with the `pass` config.

[2018-06-27 18:54] jedahan commented on #214
@fribmendes when I looked around a while ago, it just seemed something underlying with zsh-syntax-highlighting being a bit buggy, and since fast-syntax-highlighting is nicer I just use that. I am trying to reduce my responsibilities a bit so since there is a working alternative I am happy to close this and recommend people use fast-syntax-highlighting. It's also a bit painful with people coming fr

[2018-06-28 14:20] frm commented on #3
Some news about this. The explanation is available in [this comment](https://github.com/geometry-zsh/geometry/issues/3#issuecomment-244875921) and you can trace this back to f0973e9bd5eaae210b2d3a3ca32d3ef1361fdd85 which fixes it.

I didn't have this issue in Sierra, was finally able to upgrade to High Sierra and I am only able to reproduce it when I copy @steinybot 's  character. Not when I hit c

[2018-06-28 14:30] frm commented on #3
@n-a-t-h-i-a-s bold is a bit more difficult. If I do `GEOMETRY_SYMBOL_PROMPT="\e[1mA"` then zsh detects the byte size as 6. However it should only occupy one symbol on screen (`A`). I'll try to get around this and see what I can do.

[2018-06-28 20:59] frm commented on #214
Yep, I'm perfectly fine with this. I can add it to the FAQ, in case this comes up.

[2018-06-28 21:14] #214 closed

[2018-06-28 23:52] frm commented on #3
@n-a-t-h-i-a-s I added some proposals to support that in #216

[2018-06-29 08:51] frm commented on #3
Another update on apple emojis: 🌊 and 🤙 have one single codepoint, which means they share the same issue as the thunder I mentioned previously. I'm not sure how to handle this.

[2018-06-30 05:27] agusdmb opened #217 "virtualenv not showing"
I'm using virtualenvwrapper... I previously had agnoster as my theme and the virtualenv prompt was working fine, but tonight I wanted to try something different and I really like this theme.. so I installed it and set everything up.. the problem is that I cant get to show the virtualenv Im currently on, and since I work in python that's really importat for me.. I have tried many different ways to

[2018-06-30 05:55] #217 closed

[2018-06-30 13:48] BrunoGomesCoelho opened #218 "Use geometry plugin without changing theme"
This might sound like a noob question, but I am interested in using a geometry plugin (the [hydrate plugin](https://github.com/jedahan/geometry-hydrate) more specifically), but I want to keep my current oh-my-zsh theme.

Is there any way of installing geometry and the plugin, while maintaining my theme?

[2018-06-30 15:50] jedahan commented on #218
Right now there is a lot of integration between the plugins and geometry, so possible options include:

1. Recreating the theme you are using within geometry

Geometry is really really customizeable, it may be easiest to look at the features of your current theme and just see if it can be recreated easily within geometry.

2. Port geometry hydrate to your current theme

The code is pretty small ht

[2018-06-30 16:33] BrunoGomesCoelho commented on #218
I see, thanks for the quick answer!

I'll give recreating the theme a try, if it doesn't really give something me similar I'll probably port it on my holidays; it will give me a chance to learn shell at least :D

If I do port I'll be sure to send a message on the hydrate plugin and here if anyone else comes across this.

[2018-06-30 16:33] #218 closed

[2018-07-02 12:31] frm commented on #204
`$?` and `$EXIT_VALUE` have the same value for me regardless. I don't think we are mangling it.

[2018-07-02 12:34] frm commented on #210
@SNBSniper have you had any updates on this? If not, can you try explicitly setting `GEOMETRY_PROMPT_PLUGINS_SECONDARY` to `(git)`?

[2018-07-02 15:40] jedahan commented on #204
So you are still seeing this @fribmendes ?

[2018-07-02 15:42] frm commented on #204
Yes, but I haven't checked with default configs yet. I'm sourcing other things before geometry so maybe one of those is failing and changing the exit value.

[2018-07-02 16:10] #197 closed

[2018-07-02 16:23] jedahan commented on #204
Yeah I got this behaviour when i forgot to install lolcat and had a todo function that failed

[2018-07-03 09:26] frm commented on #204
I finally got around to investigating it.

It wasn't an issue with my zsh configs. rvm added a `.zlogin` file which attempted to source it. I don't have rvm for quite some time and I don't usually make use of `.zlogin`, so it took me a while to realize what was happening.

I feel kinda dumb now. Closing this.

[2018-07-03 16:04] jedahan opened #219 "Consider switch to zstyle from env"
Upsides
+ less env pollution
+ easier to query
+ more zsh-y
+ export order no longer matters?

Downsides
- harder to port to other shells
- harder to learn
- unknown issues

Example of how it may work inspired by [zsh-prompt-newt](https://github.com/softmoth/zsh-prompt-newt#segments)

[code]

[code]

[2018-07-04 15:35] frm commented on #211
I'm fine with ISC. @chrisjlee do you want to do a PR? 🙂

[2018-07-04 15:42] frm commented on #219
I like the idea to go deep into zsh and use modules.

It would make it harder on #209 but I've been giving it some thought and I'd rather close that for now. It makes sense to go the Unix-way: focus on zsh and do it well. If we consider porting to fish, then we should do fish well. Not a hybrid between both.

The unknown issues worry me especially because we have no tests. So, here's my suggestion

[2018-07-10 19:22] chrisl8888 commented on #211
Sure who's name or entity should i provide? And did you decide on ISC or MIT?

[2018-07-26 02:29] pbar1 opened #220 "Plugin ordering?"
Is it possible to order plugins? I made the custom plugin [geometry-terraform](https://github.com/pbar1/geometry-terraform) to display the Terraform workspace of the current directory, and while it does work, the plugin placement is off:

![image](https://user-images.githubusercontent.com/26949935/43237850-42642d9c-9051-11e8-999a-b427b1f46424.png)

This is the configuration I'm using in my zshrc,

[2018-07-26 15:30] jedahan commented on #209
Closing and if someone makes a fish port, would be interested in seeing how it compares.

[2018-07-26 15:30] #209 closed

[2018-07-26 15:33] jedahan commented on #187
I think we can skip this

[2018-07-26 15:33] #187 closed

[2018-07-26 15:35] jedahan commented on #211
I'd say @fribmendes , ISC

[2018-07-26 15:35] jedahan commented on #220
Interesting issue. Just for giggles, can you try using GEOMETRY_PROMPT_PLUGINS_SECONDARY instead of GEOMETRY_PROMPT_PLUGINS and see if that fixes it?

[2018-07-26 15:48] jedahan commented on #195
How about we start with a call for help from the community?

For example https://github.com/geometry-zsh/geometry/wiki/prompts

Pinging for help from anyone who ever participated in the community - if you are using geometry we'd love to see your customizations. Especially if its really different from the defaults. Thanks!

@pbar1 @chrisjlee @snbsniper @f-a-a @tp00012x @kreedz @terry182 @agusdmb @g

[2018-07-26 16:03] #151 closed

[2018-07-29 01:08] pbar1 commented on #220
Changing to GEOMETRY_PROMPT_PLUGINS_SECONDARY has the same effect. Looking at the [code](https://github.com/geometry-zsh/geometry/blob/181839d1a5a5b3576977a65fbfb57219cc40ad4f/lib/plugin.zsh#L37) it looks like it might be because default plugins are registered all at once, and then third party ones are registered afterward?

[2018-07-30 15:15] LuRsT commented on #195
Good idea, although instead of customizing my prompt, I only have two settings set to true (PROMPT_VIRTUALENV_ENABLED and PROMPT_GEOMETRY_GIT_CONFLICTS) and I have my own fork where I removed a few things I didn't use.

[2018-08-01 16:39] jedahan commented on #220
Looks like thats the issue. Unfortunately I won't have time to look at it for a few weeks. If anyone else wants to try and fix it I can do a code review though.

Otherwise feel free to ping in a couple of weeks

[2018-08-02 12:07] lox opened #221 "Error configuring plugins: bad set of key/value pairs for associative array"
Apologies if this is a zsh issue, or something with my configuration, but I'm not able to set the plugin configuration as documented:

[code]
Any ideas? I assume the error is because $GEOMETRY_PROMPT_PLUGINS is already defined as an associative array somewhere?

[2018-08-02 14:41] jedahan commented on #221
I think we only support setting loaded plugin list before sourcing zsh.

If you need to load interactively you might need ` typeset -a` or `typeset -gA` first, or look at PROMPT_GEOMETRY_PLUGINS_PRIMARY which is an indexed array.

Sorry I can be of more help for a while

[2018-08-22 16:54] slippycheeze opened #222 "wishlist: support 'external' zsh-async rather than forcing internal version"
It would be nice to support an externally installed version of zsh-async in this code.  For example, testing if the functions were present in the shell before sourcing the internally shipped version would help avoid overwriting a newer version with an older embedded version.

This isn't strictly necessary since loading async after this code would give the appropriate result, redefining things agai

[2018-08-22 17:31] frm commented on #222
I wouldn't oppose this, we're blindly sourcing `zsh-async` and that might already be loaded.

Looking at https://github.com/mafredri/zsh-async/blob/master/async.zsh I believe we can test for the existence of the `ASYNC_VERSION` variable (which is only available in the most recent versions). To avoid forcing users to update, we could also test the `async` function

[2018-08-22 20:26] jedahan commented on #222
I think `async_init` already does this for us

https://github.com/mafredri/zsh-async/blob/master/async.zsh#L525-L527

[code]

[2018-08-22 20:27] jedahan commented on #222
so our embedded version would not load if you already loaded zsh-async

[2018-08-28 16:25] WhiteAbeLincoln commented on #221
I'm getting the same issue when setting GEOMETRY_PROMPT_PLUGINS in my zshrc file

[2018-08-28 19:57] jedahan commented on #221
@WhiteAbeLincoln can you share your zshrc? As long as the variable is exported before sourcing geometry.zsh I'd hope that it works.

[2018-09-20 15:52] chrisl8888 commented on #211
Sweet thanks!

[2018-09-20 21:21] dmhacker opened #224 "Git dirtiness check not working correctly"
Hello! I thought I might bring this to your attention, since it seems that the dirtiness check for git repositories is not working correctly. It's pretty simple to reproduce:

[code]

At the end of running these commands, you'll notice that the git repository is being marked as clean inside **dir2** when it should be marked as dirty. However, when you `cd ..` outside of **dir2**, the repository is

[2018-09-27 06:49] WhiteAbeLincoln commented on #221
It looks like that was the issue. I had exported the variables only after geometry was sourced, and hadn’t noticed before because the default behavior was what I needed until now.

[2018-09-27 14:14] #211 closed

[2018-09-27 15:38] #221 closed

[2018-10-04 18:44] drager opened #228 "Plugins"
Hey, thank you for great prompt!

I have made some plugins and I just wonder if I should add PR's for them to geometry or simply provide links to them instead?

Let me know what you think, thanks.

[2018-10-04 19:57] jedahan commented on #228
The easy thing to do is add them to the wiki first https://github.com/geometry-zsh/geometry/wiki/plugins , but I am open to PRs as well.

[2018-10-04 20:05] drager commented on #228
Alright, I'll add them to the wiki first and then we can see if there are any you want to have in the repo instead. :blush:

[2018-10-06 17:55] jedahan commented on #222
If the behaviour changes, feel free to reopen, but I think this is a non-issue since zsh-async gracefully handles this for us

[2018-10-06 17:55] #222 closed

[2018-10-06 18:00] jedahan commented on #210
@SNBSniper closing due to inactivity and I think you switched to pure according to the dotfiles.
Feel free to reopen if its still an issue

[2018-10-06 18:00] #60 closed

[2018-10-07 12:42] drager commented on #228
I have added them to the wiki page: https://github.com/geometry-zsh/geometry/wiki/Plugins#npm-package-version

[2018-10-12 17:25] jedahan commented on #228
These look great! I'm going to hold off on adding them to the repo until #229 is resolved :)

[2018-10-23 02:29] jedahan opened #230 "Improve echo/print consistency"
We use echo, print, and printf. It would be nice to have clear guidelines on when to use which, or to settle on just one.

`echo` is used everywhere, but supposedly has surprising behavior / is not portable. It is still my preference due to familiarity and as far as I know has not lead to any problems.

`print` is only used in **geometry.zsh**. It has a lot of features, and a better defined api, b

[2018-10-23 02:30] jedahan opened #231 "Document when to use test vs [[ ]]"
`[[` and `]]` are supposedly more idiomatic in zsh than using `test`.

Both are used extensively. Maybe it should just be a judgement call, or maybe we should pick one and go with that.

[2018-10-23 02:39] jedahan opened #232 "Decide on function naming conventions"
For defining functions, we use `name ()` and `function name` forms.

For naming functions, we use `_geometry_` prefix and snake_case, `-geometry-` with kebab-case, sometimes no prefix, etc.

It would be nice to decide on when and where we need to prefix, and if its helpful or not.

My preference is that all functions be as short but descriptive as possible, and written `snake_case()`. If a functio

[2018-10-25 19:00] #230 closed

[2018-10-25 19:00] #231 closed

[2018-10-25 19:00] #232 closed

[2018-10-25 19:01] jedahan opened #234 "Magic enter function?"
mnml supports a magic enter function, which might be really cool to implement, what do we think?

[2018-10-25 19:01] jedahan opened #235 "remove geometry_ prefix for built-in plugins?"
I would like to remove the geometry_ prefix for built-in plugins, but maybe thats a waste and will just cause conflicts?

[2018-10-29 10:09] frm commented on #235
I think we should keep it to avoid conflicts but it's really long. We can change to something like `_gmtr_*`, what do you think?

[2018-10-29 10:10] frm commented on #234
Do you mean a function that is autorun when you `cd`?

[2018-10-29 15:56] jedahan commented on #234
A function that is run when you hit enter with no command.

[2018-10-29 17:08] jedahan commented on #235
i'd rather have it be the same name as the theme, even if it is verbose people will know what it is on first read

[2018-10-29 17:08] jedahan opened #236 "Remove async?"
I'm tested an async-removed branch right now, but would like to find what plugins are so slow that it makes sense to do it. Even in my largest git repositories it seems instant.

[2018-10-29 17:12] jedahan commented on #219
I've changed my mind on this since the benefits are so minor and the downsides are not.

[2018-10-29 17:12] #219 closed

[2018-10-29 17:13] jedahan commented on #220
If we merge #233 we will be able to close this

[2018-10-29 17:16] jedahan commented on #236
Testing https://github.com/geometry-zsh/geometry/issues/60 to make sure it is fine

[2018-10-29 17:18] jedahan commented on #236
Hmm, removing async re-introduces some slowdown on holding enter

[2018-10-29 17:37] #236 closed

[2018-10-29 17:37] #235 closed

[2018-11-03 03:41] mustaqimM commented on #100
I'm getting the same problem, if I don't quote it in `"$'\n'"`, it doesn't put a newline, but if I do, it prints like this
[code]

[2018-11-04 17:19] jedahan commented on #235
hey :: is allowed in function names, I started using `geometry::` to prefix things, it seems nicer.

[2018-11-04 17:53] jedahan commented on #234
Beta version of this is present on https://github.com/geometry-zsh/geometry/tree/info-command

It adds `GEOMETRY_INFO=(geometry_hostname geometry_jobs)` and runs those commands on enter if the buffer is empty.

[2018-11-04 19:57] jedahan opened #237 "Try and recreate interesting prompts"
![from #zsh on freenode](https://zshthem.es/img/screenshots/jonathan.png)
(path) (ruby version) --- (user@hostname:tty)
(time) on (branch) symbol (line editor) (status) (date)

[2018-11-20 16:32] psprint opened #239 "zwc parsing errors with ignore_braces / ignore_close_braces"
After I invoke `git checkout info-command`, then `find . -iname '*.zwc' -exec rm -f \{\} \;`, then I get error:

[code]
("READY >" is my prompt).
Then, if I run the prompt second time, I get many errors:

[code]

What happens before 1st and 2nd run is that `zplugin` binary module automatically compiles any `source`'d file. So each of geometry's components gains a .zwc file.

After those errors, if

[2018-11-20 16:43] jedahan commented on #239
Can you try this on https://github.com/jedahan/geometry/tree/mnml ? I'm going to delete the info-command branch as it is out of date

[2018-11-20 16:49] jedahan opened #240 "Cleanup branches"
Is it safe to delete [some of the branches](https://github.com/geometry-zsh/geometry/branches)?

These look safe to delete:
- https://github.com/geometry-zsh/geometry/tree/feature/vi-mode-plugin
- https://github.com/geometry-zsh/geometry/tree/bugfix/support-5.0.0

Not sure about the others

[2018-11-20 22:20] psprint commented on #239
It gives the same errors. Have you maybe started to use `short_loops` in the branch?

[2018-11-20 22:32] psprint commented on #239
You can check if it reproduces for you – following will compile all files that zplugin-module compiles, probably all that are in use by default:

[code]

[2018-11-20 23:31] jedahan commented on #239
Ahh okay, so yeah I get the same errors you do, after compiling and opening a new tab

[2018-11-20 23:41] jedahan commented on #239
Can you give it a shot now?

[2018-11-21 00:11] jedahan commented on #239
Also if you know a way I should be using bindkey better than just mapping '^M' I'm all ears!

[2018-11-21 15:05] psprint commented on #239
It works now, cool. I have a more "private" issue thought – I simulate initial `precmd` call, set up with:

[code]

I do call them in zplugin's `atload''` hook:

[code]

But I don't get the prompt until first command being run, like it is shown in this video:

https://asciinema.org/a/XNtEXTtNiRTNGMsvilo8X9vce

Do you maybe know what else `geometry` runs through some hooks, that might be causing th

[2018-11-21 15:54] jedahan commented on #239
`geometry::rprompt` is also run once when sourcing geometry.zsh, maybe that needs to be run?

[2018-11-26 21:06] jedahan commented on #239
Did running `geometry::rprompt` fix things?

[2018-11-26 21:34] psprint commented on #239
No, sadly no

[2018-11-26 23:11] jedahan commented on #239
does it work if you manually source geometry.zsh in your zshrc instead of using zplugin? just trying to narrow down where the issue may be

[2018-12-01 00:22] gtarraga opened #241 "Can't type after a fresh install"
Just installed the theme and displayed the initial prompt but it doesn't let me type at all, I'm running it in Cmder and looks like I can't close the window either. I tried with a fresh install a couple times but still didn't work.

I'm running Zsh on mintty and all that on Cmder, Windows 10
![image](https://user-images.githubusercontent.com/11561188/49321423-a95fbc80-f507-11e8-9204-bca63d637521.p

[2018-12-05 16:20] jedahan commented on #241
Can you share your entire `.zshrc` ?

[2018-12-05 20:53] gtarraga commented on #241
Here you go.

[code]

[2018-12-05 21:23] jedahan commented on #241
Can you confirm that just loading geometry.zsh with nothing else (no plugin manager, no antigen) still exhibits the behaviour. Sorry if its tedious but I don't have a windows box to test this on.

I got a gut feeling that we are not handling the `precmd()` override but thats just a hunch

[2018-12-05 21:24] jedahan commented on #241
I'll try this zshrc on my laptop and see if it replicates that behaviour as well

[2018-12-05 22:26] jedahan commented on #241
To be more clear, try this as your entire `~.zshrc`

[code]

[2018-12-07 15:34] psprint commented on #239
Yes it worked. All this resulted in a diagnosis:
1. I was using plugin gitlab -> zdharma/fsh-auto-themes
2. It adds `chpwd` hook
3. Normally zsh startup doesn't cause `chpwd` to be called, so say that "order of loaded plugins doesn't matter" (precisely: fsh-auto-themes was being loaded before zdharma/fast-syntax-highlighting, a risky act, as it depends on F-Sy-H)
4. However geometry runs at loadin

[2018-12-07 16:28] jedahan opened #242 "Refactor geometry_git function"
Right now `geometry_git` is the most complex (and useful!) function we ship. However, it is clunky to customize, as seen in #226 .

Let's look at exposing all the inner functionality - `_symbol`, `_branch`, `_status`, `_conflicts`, `_time`, and `_stashes`, which would allow us to get rid of the clunky  `GEOMETRY_GIT_SHOW_{CONFLICTS,TIME,STASHES}` vars, and reorder as the user sees fit.

We can als

[2018-12-07 16:38] jedahan commented on #239
Awesome debuggging! I pushed it to https://github.com/jedahan/geometry/commit/e7b9e87dfcdba140fb76cdf708275fdd88eb15b4

[2018-12-10 18:05] WebWorkDeveloper opened #243 "The geometry theme incorrectly installed"
Hi, I use the following manual:

Clone this repository as follows:
[code]
Then add it to your .zshrc configuration:
[code]

And in result I have

![image](https://user-images.githubusercontent.com/8726541/49751605-d86fee00-fcbe-11e8-981e-3ef7099c9a38.png)

Not this

![image](https://user-images.githubusercontent.com/8726541/49751643-f50c2600-fcbe-11e8-8119-598013ebda39.png)

What I can do with it?

[2018-12-10 18:24] jedahan commented on #243
By default, we show the path and hostname. If you just want the path, you can add `export GEOMETRY_PROMPT_PLUGINS_PRIMARY=(path)` before `source geometry.zsh`. This will only show the triangle and directory.

The `[` and `]` brackets at the beginning and end seem to be something with Terminal.app that I am not sure what it is.

So the only thing that looks out of place is is the `::` on the left h

[2018-12-17 10:21] mmathys opened #244 "Sample configuration as seen in the gif"
I am curious about the configuration used in the gif:

- what is the name of the autocomplete module used?
- how can I configure zsh so that the command gets a separate color, while the rest of the command gets another?

[2018-12-17 14:04] jedahan commented on #244
My dotfiles are up on https://github.com/jedahan/dotfiles/, [zshrc](https://github.com/jedahan/dotfiles/blob/master/.zshrc#L37-L53)
* [autocomplete](https://github.com/zsh-users/zsh-autosuggestions)
* [syntax highlighting](https://github.com/zdharma/fast-syntax-highlighting)

[2018-12-17 15:30] mmathys commented on #244
Thank you!

[2018-12-17 15:30] #244 closed

[2018-12-28 20:24] jedahan commented on #239
How are things looking @psprint ? Any other bugs/questions/suggestions?

[2018-12-28 20:38] psprint commented on #239
I've ran the new geometry for a few days (7-10), but switched back to normal version, because of the blue, not blue-bold for the path ;). I've also had an impression of changes in the arrangement of the information of the prompt, i.e. visual locations of the bits of information, but running the `jedahan/geometry` plugin now shows that there are no changes in the arrangement. Maybe the updates (I'm

[2018-12-28 21:48] jedahan commented on #239
Thanks for the feedback, and giving it another try.

It sounds like there are two main issues, correct me if I am wrong:

1. The path status color changed. Do you mean the `﻿﻿▲` or the actual path like `~/some/dir`? The status symbol color can be set with `GEOMETRY_STATUS_COLOR`, and if you are on a terminal with 256 colors you can choose a number instead of a word. If this does not do what you wa

[2018-12-29 17:20] psprint commented on #239
1. I need to change the `blue` color of the path in the prompt.
  2. I cannot, because now I don't have that impression (except for the dark-blue-path) and I've forgot what it was about the time ago.

[2019-01-02 11:40] psprint commented on #239
I've run `zplugin report` on the jedahan/geometry theme, it might be interesting to you, here's the result:

![zplg-geometry-report](https://user-images.githubusercontent.com/6049288/50590313-b5ce9080-0e8a-11e9-8d74-9379475e3f65.png)

There's seem to be no `*color*` variable other than the `*TIME*` parameters:
[code]

Although some variables could be created at runtime, e.g. in precmd hook, althou

[2019-01-02 16:16] jedahan commented on #239
Most plugins try not to export their environment variables to help reduce pollution. From `geometry_path`, `GEOMETRY_PATH_COLOR` is the thing to be set. I will add it to the readme. Do you have suggestions on how to make it easier to find out what can be set without polluting env with hundreds of variables?

[code]

[2019-01-02 16:17] jedahan commented on #239
I also wonder how I can hide all the `_{rebase,stashes,etc}` functions

[2019-01-02 16:47] jedahan commented on #242
fixed in https://github.com/jedahan/geometry/commit/5ec97e39400a3a0cd9f0bbed4796167b65a9eddd , will track performance vs vcs_info in another issue

[2019-01-02 16:47] #242 closed

[2019-01-02 16:48] jedahan opened #245 "test refactoring geometry_git to use vcs_info"
vcs_info might be faster, might be slower.

How can we benchmark it?

Even if its 20% slower, does it help reduce complexity?

[2019-01-02 16:57] jedahan commented on #234
added to https://github.com/jedahan/mnml

[2019-01-02 16:57] #234 closed

[2019-01-02 17:02] jedahan commented on #224
Hey, I think I used the first fix you described in my branch https://github.com/jedahan/geometry (which also simplifies a lot how to use geometry). Thanks for the report and PR!

[2019-01-02 17:05] jedahan commented on #241
@gtarraga any update?

[2019-01-02 17:07] jedahan commented on #240
ping @desyncr can we delete those two branches?
And @justmendes is the issue that https://github.com/geometry-zsh/geometry/tree/frm/prompt-utf8 fixes present in the mnml branch? https://github.com/jedahan/geometry ?

[2019-01-02 19:32] psprint commented on #239
Zstyles are for this. So e.g.:
[code]
I've missed the zstyle-way too, in Zsh-Navigation-Tools, there're many `znt_*` variables ( like:`znt_list_instant_select=1` or `znt_list_border=0`). However, the upper-case global parameter way feels more natural.

There's no way to hide the functions. I once posted on zsh-workers mailing list about the need of namespaces for functions, but it didn't catch-on

[2019-01-02 19:48] jedahan commented on #239
Though `zstyle` is cool, I would rather people be able to use geometry with as few new concepts to learn as possible.

The downside of putting environment variables inside functions is they are hard to discover. I might be convinced that its better for discoverability by putting them outside functions, even if that does pollute the environment.

I think at one point there was another benefit to th

[2019-01-03 01:18] psprint commented on #239
Yeah, the fever concepts issue, I agree. Although the nice looking of the :-separated path, i.e. ":plugin:geometry:color" might be worth adding a concept.

I've recalled one other way – a global hash. Like in Zplugin, where I use `$ZPLGM`, i.e. "z-plugin-map" for internal use and for [user's customization](https://github.com/zdharma/zplugin#customizing-paths--other). The issue – user has to adopt

[2019-01-03 10:09] gtarraga commented on #241
Sorry about the delay. Just tried using the `~/.zshrc` file you suggested, I'm still not able to type on the console once the theme is active.

[2019-01-03 16:56] jedahan commented on #241
What is the output of `zsh --version`?

[2019-01-04 10:54] gtarraga commented on #241
The output is `zsh 5.5.1 (x86_64-unknown-cygwin)`

[2019-01-04 18:58] jedahan commented on #241
Ok I am at a complete loss
The two things I can think of are
* trying this fork https://github.com/jedahan/geometry.git
* adding `set -x` to the top of your .zshrc and copying the output here so we can look at where its getting stuck

[2019-01-06 16:42] jedahan commented on #239
I'm going to close this issue for now, and we can investigate exposing environment variables, and renaming them in the future. Thanks for all your patience and testing @psprint!

[2019-01-06 17:03] jedahan commented on #228
I ported these to my branch of geometry in https://github.com/jedahan/geometry/commit/51ebb5eda2dd544d865921aa4658637f0baa61b5. When that gets released, your contributions will be available for everyone in geometry :)

[2019-01-06 17:04] jedahan commented on #195
Seeing as this is a year old, even though its a good idea I think we can close it. Maybe reopen during next years hacktoberfest or something.

[2019-01-06 17:04] #195 closed

[2019-01-06 17:05] jedahan commented on #237
This is a dupe of #195

[2019-01-06 17:05] #237 closed

[2019-01-06 17:11] drager commented on #228
@jedahan Awesome! :tada:

[2019-01-09 17:59] psprint commented on #239
I'm running `jedahan/geometry` prompt for the last 7 days and don't occur any problem. One more thing for the global-param-home-hash, I can give the key count for zplugin (as FAST_HIGHLIGH consists only from cache fields):

[code]
So this method is really handy in having parameter-availability freedom (except for hashes & arrays, but I'm doing serialization/deserialization and store them anyway, e

[2019-01-09 19:19] jedahan commented on #239
Thanks for reporting back! Glad to hear things are stable now. I really wanna coordinate a release with the rest of the team soon. Hopefully with lots of screenshots :)

The serialization/deserialization is really cool, but since geometry really does so little I can't think of what makes the most sense to hide :)

The weirdest bugs are still when rendering single-width emoji, which are really appa

[2019-01-10 01:29] psprint opened #246 "An error under zsh 5.0.0: "geometry::info:local:2: not valid in this context: ...""
The error message appearing when running under zsh-5.0.0:

[code]

[2019-01-10 17:10] jedahan commented on #246
I removed the `local` from that function, and quotes some things. Care to test again? Also I'm going to have to figure out how to test on different zsh versions.

[2019-01-10 17:46] jedahan commented on #246
I added a Dockerfile to test zsh-5.0.0

[2019-01-15 09:51] frm commented on #240
I'd support deleting them if there are no recent changes. That was an attempt at fixing the UTF-8 issue, but it was more complex than I anticipated. I prefer if we let it go and try again from your rebase.

[2019-01-15 11:14] frm commented on #245
Define a set of large and smaller repos and maybe use zprof?

This is a tradeoff I'm willing to have if it's maintainable for us and usable at the same time. It might not even be fast by default but configurable to be fast - e.g. the user disables certain features if they want speed.

[2019-01-15 17:21] jedahan commented on #245
https://github.com/zsh-users/zsh/blob/master/Misc/vcs_info-examples

http://zsh.sourceforge.net/Doc/Release/User-Contributions.html

[2019-01-15 17:24] jedahan opened #247 "write release announcement"
for subreddits
- [ ] r/zsh
- [ ] r/unixporn
- [ ] r/commandline

[2019-01-15 17:25] jedahan opened #248 "update awesome lists"
I think there is
- [ ] awesome-zsh
- [ ] awesome-commandline

[2019-01-15 17:26] jedahan opened #249 "created deprecated lib"
if we see any of the old variables set
- [ ] print to stderr what changes are needed
- [ ] print to stderr a link to the release announcement in releases
- [ ] try and migrate to new variables so prompt is still semi-functional

[2019-01-15 17:27] jedahan opened #250 "cut release on github releases"
With the full announcement

[2019-01-15 17:40] jedahan opened #251 "Record termtosvg on how to add functions to your prompt"
https://github.com/nbedos/termtosvg is awesome because we can embed svgs into the readme without linking out to asciinemas website.

scripts
- geometry is easy to extend
- lets say we want to show the current day in the left hand prompt, like `date -u +"%a"`
- first, make a function to do what we want: `day() { date -u +"%a" }`
- now add to the left prompt: `GEOMETRY_PROMPT += (day)`
- hmm, we wan

[2019-01-15 17:43] jedahan opened #252 "Setup CI for zsh-5"
we can use just simple try and load all plugins, and load defaults, echo hi, and exit

[2019-01-15 17:44] jedahan commented on #252
maybe even create a build artifact thats just a screenshot, who knows

[2019-01-20 01:13] Konsonanz opened #253 "Plugin jobs check does not have correct functionality"
`geometry_prompt_jobs_check` function uses the following code do determine if it's running or not:
[code]
But this checks the success value and not the stdout of the operation and always succeeds, with numerous jobs and zero running.
If you now load another plugin before jobs there will be a plugin spacer, empty space since jobs is not actually printing anything and another plugin spacer.

[2019-02-16 07:13] MarioRicalde commented on #164
I can work on this.

[2019-02-16 07:13] MarioRicalde commented on #164
I'm going to make some proposals and post them here, and then we can pick it up.

[2019-02-16 07:43] MarioRicalde commented on #164
@jedahan @justmendes here's one.

![image](https://user-images.githubusercontent.com/125900/52896344-3ff95c80-318c-11e9-8f3d-b55aafd6c0da.png)

[2019-02-16 07:45] MarioRicalde commented on #164
I did this super quickly so it's pretty much a draft still,  but let me know if you like the direction. Based it off the one we currently have thanks to @jedahan .

Cheers.

[2019-02-16 22:12] MarioRicalde commented on #164
@justmendes @jedahan any feedback here? should it be geometry.zsh ?

[2019-02-17 22:16] jedahan commented on #164
I love the colors, capitalization, and overlapping triangles. I think it also allows for derivatives that make sense in different contexts if we really want (like a smaller flat version, etc).

i wish i could be more critical but its quite beautiful

[2019-02-17 22:19] jedahan commented on #164
maybe experimenting with fonts that are more geomrtric like where the O is a perfect circle?

[2019-02-17 22:41] MarioRicalde commented on #164
@jedahan thank you for the positive feedback, do we want to keep using monospaced fonts or any font fits as long as it's the O as a perfect circle?

[2019-02-17 22:52] jedahan commented on #164
i love the yellow its bright and sun-like

maybe trying a different colorscheme from blue/red if it's a bit similar to google play? like instead of red/blue up top a purple?

i hope this is useful feedback but im mostly stretching

[2019-02-18 11:15] frm commented on #164
I love the details of having the sides of the larger triangle with different colours to give a "3D impression", so to speak. Love the overlap as well.

Agree with @jedahan regarding the colorscheme.

I'd go for a monospace font, personally. They're related to code, by nature. But don't overthink it too much. I'd prefer if we had a version without any text as well. For the GitHub org and stuff like

[2019-02-18 19:09] jedahan commented on #164
Is the current font monospace? I like its look regardless, and am happy for us to have non-monospace font, as there is plenty of monospace in other reading materials and tech projects.
Really I see this version as a banner for our readme. Would be interested in seeing how this would fit, for example, as the geometry-zsh organization icon, with and without geometry text.

[2019-02-18 19:30] MarioRicalde commented on #164
I'm going to do a bit of work on this, I'm a bit limited on time today, but here's the link where I'm working on it. If you want a live version, just click on it.

https://www.figma.com/file/gx1IWp28K1mlyl2YfYJJA51l/geometry?node-id=0%3A1

[2019-02-18 19:55] MarioRicalde commented on #164
![image](https://user-images.githubusercontent.com/125900/52973726-a1841b80-3384-11e9-8c31-41fa9bb1b17d.png)

Thanks for the feedback. The font I was using above was monospaced. I believe it was Fira? Regardless, I prefer non-monospace fonts for what we have here, because I like that slick look we get from non-monospaced fonts.

If you guys are sold on the colors on the above, I can make all the a

[2019-02-18 19:55] MarioRicalde commented on #164
@jedahan @justmendes Thoughts?

[2019-02-18 19:59] MarioRicalde commented on #164
![image](https://user-images.githubusercontent.com/125900/52973909-5d454b00-3385-11e9-98da-e761c9fd6d23.png)

I like the contrast that comes from the accented background.

[2019-02-18 20:01] MarioRicalde commented on #164
![image](https://user-images.githubusercontent.com/125900/52973997-a4cbd700-3385-11e9-9a2b-5a5dab57ad8c.png)

[2019-02-18 20:06] MarioRicalde commented on #164
![image](https://user-images.githubusercontent.com/125900/52974185-50752700-3386-11e9-8852-955495f732bd.png)

And my last proposal for now. Awaiting feedback.

[2019-02-18 20:16] jedahan commented on #164
Great changes!
I like the background glow of the last one a lot.
As far as the new font goes, does it look alright in a heavier weight like the original?
Either way the main assets I can think of are a text-less version for the geometry-zsh org, and a header version for the readme.

[2019-02-18 20:25] MarioRicalde commented on #164
![image](https://user-images.githubusercontent.com/125900/52974951-02adee00-3389-11e9-84a8-b06709f2e785.png)

@jedahan thoughts? :)

[2019-02-18 20:28] jedahan commented on #164
Beautiful, ship it!

[2019-02-18 21:07] MarioRicalde commented on #164
Shipped, here's the zip and previews [geometry.zip](https://github.com/geometry-zsh/geometry/files/2877395/geometry.zip)

![readme-logo](https://user-images.githubusercontent.com/125900/52976330-bb2a6080-338e-11e9-9f11-c8e2b0ad510c.png)

![thumbnail-solo](https://user-images.githubusercontent.com/125900/52976331-bcf42400-338e-11e9-87ea-302c9ff70676.png)

![thumbnail-text](https://user-images.githu

[2019-02-19 10:29] frm commented on #164
This is awesome! Thanks! Updating the org.

[2019-02-20 20:56] psprint commented on #239
Hello,
I have run the zplugin-stress-test command on `jedahan/geometry`:
[code]
So the plugin won't work if someone enables  the two `*BRACES*` options. The function that does the stress test is fairly simple, I;m pasting it so that it is  known that what actually happens during the tests:

[code]

The plugin `gemoetry-zsh/geometry` passes all the tests.

[code]

Also, I'm using the new plugin wit

[2019-02-22 18:23] jedahan commented on #247
from @MarioRicalde

Things that I think are important to share
* It is simple to customize
  * Does not require plugins to be 'geometry-compatable'
  * Maybe we show two very different prompts, and what the customization looks like?
* It is super lightweight
  * geometry.zsh is just 67 lines of code, everything else is just functions
  * right prompt is rendered async so it is super fast
  * geome

[2019-02-22 18:40] frm commented on #249
I'll try to handle this during the weekend.

[2019-02-23 17:47] jedahan commented on #246
are you still getting this issue?

[2019-02-23 18:05] jedahan commented on #239
I think I fixed this in the latest mnml branch.

It would be cool to add tests to either the dockerfile or somewhere else.

All I did was manually do `setopt ignore_braces; zcompile -R geometry.zsh` and `zcompile -R functions/*zsh`....

[2019-02-23 18:06] jedahan commented on #239
err, the mnml branch on https://github.com/jedahan/geometry

[2019-02-23 21:08] psprint commented on #246
Yes :)

[2019-02-24 05:06] jedahan opened #254 "Investigate non-pty async for rprompt"
From http://www.zsh.org/mla/users/2018/msg00424.html and https://github.com/mafredri/zsh-async/issues/24

[2019-02-24 17:33] jedahan commented on #254
test version https://github.com/jedahan/geometry/pull/new/simple-async

has some weirdness & possible slowdowns, but really nice to not need zsh-async

[2019-02-24 20:44] scottstanfield commented on #254
I'm taking it for a spin now.

[2019-02-26 22:33] jedahan commented on #254
cool, did it work?

[2019-02-28 12:52] #164 closed

[2019-03-03 07:13] scottstanfield commented on #254
Yes, with the exception of one weird issue. Hitting <enter> at the prompt, without typing anything, echo's my login name and machine name, then gives me a new prompt.

Recording: https://asciinema.org/a/bHqGPntVSKrR7HjFqNZKoEfdA

[2019-03-03 07:28] scottstanfield commented on #254
If I set `GEOMETRY_INFO=(geometry_jobs)` the `geometry_hostname` goes away on an empty line. So not an issue with your changes. So far so good!

[2019-03-28 19:32] alittlebitweird opened #255 "zplug-installed, not showing right prompt"
Trying out the zplug-method, and my right-side git prompt is not displaying. I'm definitely in a repo. Any ideas?

[2019-03-28 19:38] alittlebitweird commented on #255
Here is the relevant part of my .zshrc:
[code]

[2019-04-04 03:56] CarlosMed opened #256 "LS colors aren't showing correctly"
So when doing `ls + space + tab` for completions the colors seem to be that green color making it pretty much unreadable.

Meanwhile doing just a `ls + enter` the colors become that beige/yellow color. Was wondering if theres a fix? If it might be Oh-My-ZSH or the Geometry theme.

<img width="267" alt="Screen Shot 2019-04-03 at 11 37 12 PM" src="https://user-images.githubusercontent.com/7547059/55

[2019-04-12 19:24] sheharyarn commented on #109
The `git` plugin stops working whenever I re-source my zshrc. Can I stop Geometry from loading again if it's already loaded?

![image](https://user-images.githubusercontent.com/2355108/56061315-ee012d00-5d1d-11e9-82d1-7caac33a1368.png)

(Gif: https://jmp.sh/AynbK0p)

My `.zshrc`: https://github.com/sheharyarn/dotfiles/blob/master/Zsh/zshrc.symlink

[2019-04-14 02:14] jedahan commented on #109
@sheharyarn unfortunately since you are sourcing geometry from oh-my-zsh, I am not sure how to tell OMZ how to not source geometry.zsh.

In addition these are warnings that can be safely ignored. We will soon be releasing a version of geometry that will no longer have these warnings.

[2019-04-24 15:01] shinmai commented on #241
This happens for me when async prompt is enabled.
Trying the mnml branch, with async enabled I get occasional `geometry::rprompt::set:3: failed to close file descriptor 11: bad file descriptor` errors.
The master branch works fine with async disabled, but with the obvious drawback that the prompt takes a solid second and change to appear when navigating inside a git repo.

[2019-05-07 20:08] jedahan commented on #241
I am getting this error as well now, on ubuntu 18.04

[2019-05-07 21:06] jedahan commented on #241
I have a fix inspired by https://github.com/zsh-users/zsh-autosuggestions/blob/master/src/async.zsh , will push tonight

[2019-05-08 18:08] jedahan commented on #241
@shinmai can you try the latest version?

[2019-05-22 21:35] wolf99 opened #258 "Up arrow not displayed in README screencast gif"
https://github.com/geometry-zsh/geometry/blob/master/screenshots/screencast.gif

I think I got  headache trying to see the non-existent up arrow.

[2019-05-27 18:30] jedahan commented on #258
I would love for someone to record a new screencast, especially using https://github.com/nbedos/termtosvg

[2019-05-27 18:34] jedahan commented on #256
That is definitely a iterm2 or oh-my-zsh issue. oh-my-zsh ships with a not great version of some zsh autocomplete plugin usually.
Can you reproduce this with a minimal zshrc, something like
[code]
and run with
[code]

also congrats on nabbing issue `0x100` :)

[2019-05-27 18:36] jedahan commented on #255
Can you test that it is still broken with no other plugins loaded?

[2019-05-27 18:36] #254 closed

[2019-05-27 18:38] jedahan commented on #253
Thanks for reporting! I think this is fixed in the mnml branch, would you mind testing http://github.com/geometry-zsh/geometry/tree/mnml ?

[2019-05-27 18:41] jedahan commented on #258
Very sorry for the confusion TT

[2019-05-27 18:44] CarlosMed commented on #256
So I actually figured out the reason why. It has to do with setting the permissions set on folders and file. If you give it a `chmod 777 <folder>` you get the ugly colors. but if you set it to `chmod 755 <folder>` you'll have the correct coloration.

From my research it seems that the way Mac sets `LS` colors is not so well which cause the weird colors. I am going to check the above that you poste

[2019-05-27 18:56] jedahan commented on #247
First draft:
# geometry 2 - simpler and lighter

geometry is a zsh prompt that is simple, fast, and easy to customize.

After a year of testing, we are happy to release version 2, which is easier to customize, is less than half the size of version one, and has dozens of fixed bugs.

Now any function that prints to stdout can be added to your left prompt, right prompt, or in an empty command. Put l

[2019-05-27 21:27] jedahan commented on #246
I made a Dockerfile using zsh-users-5.0.0 but I get a different error

[2019-05-27 21:53] jedahan commented on #246
So I'm having trouble reproducing this issue on the latest mnml branch. I made a Dockerfile that should provide a common environment to test for the issue, but I'm at a loss of how to debug.

[2019-05-27 22:04] jedahan commented on #246
There was a bugfix branch from a few years ago, that changed instances of `local _ctx_plugins=()` to twoliners, `local _ctx_plugins; _ctx_plugins=()`. Should investigate those fixes as well.

[2019-06-01 16:21] jedahan commented on #258
I recorded a new [screencast](https://raw.githubusercontent.com/geometry-zsh/geometry/mnml/images/screencasts/git.svg)

[2019-06-02 19:24] Konsonanz commented on #253
Thanks for responding! The issue still persists:
![2019-06-02 21-19-20](https://user-images.githubusercontent.com/46794176/58766228-9b98fb80-856b-11e9-81c1-e5b52c03cf82.png)
As you can see, there still is an unwanted space inserted, as well as incositend behaviour if just hitting enter (spacer gone).

[2019-06-02 19:44] jedahan commented on #253
So the space is a problem with geometry_exec_time, checking that now.

[code]

[2019-06-02 20:03] jedahan commented on #253
Okay I think I pushed a fix, can you try now?

[2019-06-02 20:10] jedahan commented on #253
I also fixed a bug where different shells could clobber the exec time :)

[2019-06-02 20:12] #245 closed

[2019-06-02 20:24] Konsonanz commented on #253
Appreciate the fix for exec_time.
But unfortunately, still a space from geometry_jobs with no jobs running:
![2019-06-02 22-21-55](https://user-images.githubusercontent.com/46794176/58766934-46adb300-8574-11e9-801b-ca660a46d5af.png)

[2019-06-02 20:41] jedahan commented on #252
eh

[2019-06-02 20:41] #252 closed

[2019-06-02 20:42] jedahan commented on #251
recorded, its not great, but its up on mnml branch

[2019-06-02 20:42] #251 closed

[2019-06-02 20:51] jedahan opened #260 "Release Checklist"
I would like to release mnml / geometry 2. I do not have access to change the default branch.
- [ ] add "master / geometry 1 is deprecated" warning to master readme
- [x] change default branch from master to mnml on github
- [ ] cut github release
- [ ] announce on r/unixporn, r/zsh, r/linux
- [x] add deprecated.zsh github plugin which just says "please use the new mnml branch" on startup
Anything

[2019-06-02 21:24] jedahan commented on #253
Thanks for being patient, I think I squashed it this time.

[2019-06-02 21:25] jedahan commented on #253
![jerbs](https://user-images.githubusercontent.com/32407/58767581-671d4380-855b-11e9-88c3-5e360b7bf314.png)

[2019-06-03 05:08] Konsonanz commented on #253
That did it :) Thank you very much!

[2019-06-03 05:08] #253 closed

[2019-07-05 19:00] #243 closed

[2019-07-07 22:10] jedahan commented on #260
Since its been quiet for almost a year, I plan on releasing `geometry-zsh/geometry:mnml` as `jedahan/mnml:mnml`, of course keeping the full history, having everyone credited in the readme, etc.

If there is still silence after a month, I plan on adding a warning to the readme that it is deprecated, and to find a new theme by looking at `jedahan/mnml` and `https://github.com/unixorn/awesome-zsh-plu

[2019-07-18 12:50] psprint opened #262 "`read -r line` doesn't work"
Hello,
with the prompt loaded:
[code]

With different variable name:

[code]

I'd suggest the use of `setopt localoptions warncreateglobal` to avoid such problems in future.

[2019-07-18 14:51] jedahan commented on #262
@psprint if we `setopt localoptions warncreateglobal` will they be unset after sourcing the prompt? Or do we also have to see if they were set before and restore to original state?

[2019-07-18 15:03] jedahan commented on #262
I started to maintain my own fork of geometry, called `mnml`. This should be fixed in https://github.com/jedahan/mnml/commit/051c7d50f237b612e72cf188444a0a535386bdf8

[2019-07-18 18:21] psprint commented on #262
@jedahan: Your own fork? I do not understand :) You're the author of this great prompt, aren't you? So what does it mean to maintain an "own" fork?

The setopt should go into preamble of any function, basically. The option will be *local*, i.e. reverted if needed automatically after exit from function.

[2019-07-18 18:40] jedahan commented on #262
Ahh thanks for helping me understand setoptions in function context.

The original author is @justmendes , and @desyncr . I joined later, and rewrote a decent amount of it, but do not have admin rights to this repository, so I cannot do things like change the default branch.

My release strategy was to change the default branch, then add a deprecation warning to the master branch, but maybe there

[2019-07-20 16:59] psprint commented on #262
Ahso, thanks for introducing me to the history of the project. I might switch to your fork, I'll test it and see.

PS. Github doesn't count contributions done to forks. AFAIR, you can contact GH with request to not treat the mnml repository as a fork.

[2019-07-31 13:42] frm commented on #260
Regarding this and following this comment: https://github.com/geometry-zsh/geometry/issues/262#issuecomment-512937601

I intend getting back now and helping out on what I can, going back to be an active maintainer. However, you have been leading the development for this, so I would place any decision in your hands.

I've just given you admin rights to the repo (I didn't realize you did not have th